<%- include ("../_header") %>

<div class="container mt-6">
  <div class="row mt-5">

    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center">แยกประเภทชั้นปีการศึกษา</p>
          </h3>
          <br><br>
          <td ailgn="right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/classnmode/jsreport/" class="btn btn-primary">
              <font size="4"> Report </font>
            </a>
          </td>
          <h4>
            <p align='left'>ชั้นปีที่ 1</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data1){ %>
              <% for(var i=0; i < data1.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data1[i].stuid %></td>
                <td><%= data1[i].fname %> <%= data1[i].lname %> </td>
                <td><%= data1[i].facname %></td>
                <td><%= data1[i].bname %></td>
                <td>
                  <a href="/classnmode/report/<%= data1[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ชั้นปีที่ 2</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data1){ %>
              <% for(var i=0; i < data2.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data2[i].stuid %></td>
                <td><%= data2[i].fname %> (<%= data2[i].lname %>) </td>
                <td><%= data2[i].facname %></td>
                <td><%= data2[i].bname %></td>
                <td>
                  <a href="/classnmode/report/<%= data2[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ชั้นปีที่ 3</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data3){ %>
              <% for(var i=0; i < data3.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data3[i].stuid %></td>
                <td><%= data3[i].fname %> (<%= data3[i].lname %>) </td>
                <td><%= data3[i].facname %></td>
                <td><%= data3[i].bname %></td>
                <td>
                  <a href="/classnmode/report/<%= data3[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ชั้นปีที่ 4</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data4){ %>
              <% for(var i=0; i < data4.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data4[i].stuid %></td>
                <td><%= data4[i].fname %> (<%= data4[i].lname %>) </td>
                <td><%= data4[i].facname %></td>
                <td><%= data4[i].bname %></td>
                <td>
                  <a href="/classnmode/report/<%= data4[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ชั้นปีที่ 5</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data5){ %>
              <% for(var i=0; i < data5.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data5[i].stuid %></td>
                <td><%= data5[i].fname %> (<%= data5[i].lname %>) </td>
                <td><%= data5[i].facname %></td>
                <td><%= data5[i].bname %></td>
                <td>
                  <a href="/classnmode/report/<%= data5[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
