<%- include ("../_header") %>
<style media="screen">
  .foxxx {
    font-size: 30px;
  }

  .fo {
    font-size: 50px;
  }
</style>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center" class="btn btn-success btn-lg  fo">เลือกหอพัก</p>
          </h3>
          <br><br>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>ชื่อตึก</th>
                <th>จำนวนผู้เช่า</th>
                <th>ว่าง</th>
                <th>สถานะหอ</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% for(var i=0; i < bu.length; i++) { %>
                <%var sum = 0;%>
                <% for(var j = 0; j < burm.length; j++) { %>
                <%  if (burm[j].idbu == bu[i].id) { %>
                  <%var x = burm[j].peoplenumber; %>
                  <%var sum = x + sum;%>
                <%  } %>
                <% } %>

              <tr>
                <% var a = 0%>
                <td>  <b class="btn btn-primary btn-lg"><%=bu[i].name%></b></td>
                <td>  <b class="btn btn-secondary btn-lg"><%=bu[i].xxx = sum;%></b></td>

                <% console.log(sum) %>
                <% for(var s = 0; s < stbu.length; s++) {%>
                  <% if (bu[i].id == stbu[s].building_id ) { %>
                    <% var a = a + 1%>
                  <% } %>
                  <% } %>
                  <td><%var xs = bu[i].xxx - a %>
                    <%bu[i].xx = xs%>
                    <% if (bu[i].xx  == 0) { %>
                    <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%=bu[i].xx %></b>
                    <% } %>
                  </td>
                  <td>
                    <% if (bu[i].xx == 0) { %>
                      <b class="btn btn-success btn-lg">หอพักเต็ม</b>
                    <% } else { %>
                    <b class="btn btn-success btn-lg">หอพักยังว่างอยู่</b>
                    <% } %>
                  </td>
                  <td>
                    <% if (bu[i].xx == 0) { %>
                    <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                    <% } else { %>
                    <a href="/tanant/addBuilding/<%= (i+1) %>/<%=tanantroomid %>" class="btn btn-warning btn-lg"> เลือกหอพัก </a>
                    <% } %>
                  </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
