<%- include ("../_header") %>
<style media="screen">
  .foxxx{
    font-size : 30px;
  }
  .fo{
    font-size : 50px;
  }
</style>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg  fo">เลือกห้องพัก</p>
          </h3>
          <br><br>
          <% if(data == 1){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data1[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data1){ %>
                <% for(var i=0; i < data1.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data1[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 10 คน </b></td>
                  <td> <% if(data1[i].nump){%>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data1[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data1[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data1[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data1[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                      <% } else if (data1[i].idrm == datastrm) { %>
                        <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                      <% } else { %>
                      <a href="/student/editRoom/<%=data1[i].idrm%>/<%=data1[i].idbu%>/<%=data1[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>
                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
          <% if(data == 2){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data2[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data2){ %>
                <% for(var i=0; i < data2.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data2[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 10 คน </b></td>
                  <td> <% if(data2[i].nump){%>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data2[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data2[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data2[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data2[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                      <% } else if (data2[i].idrm == datastrm) { %>
                        <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                      <% } else { %>
                      <a href="/student/editRoom/<%=data2[i].idrm%>/<%=data2[i].idbu%>/<%=data2[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
          <% if(data == 3){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data3[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data3){ %>
                <% for(var i=0; i < data3.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data3[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 4 คน </b></td>
                  <td> <% if(data3[i].nump){%>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data3[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data3[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data3[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data3[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                      <% } else if (data3[i].idrm == datastrm) { %>
                        <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                      <% } else { %>
                      <a href="/student/editRoom/<%=data3[i].idrm%>/<%=data3[i].idbu%>/<%=data3[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
          <% if(data == 4){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data4[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data4){ %>
                <% for(var i=0; i < data4.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data4[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 4 คน </b></td>
                  <td> <% if(data4[i].nump){ %>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                       <% } else if (data4[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data4[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data4[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data4[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                      <% } else if (data4[i].idrm == datastrm) { %>
                        <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                      <% } else { %>
                      <a href="/student/editRoom/<%=data4[i].idrm%>/<%=data4[i].idbu%>/<%=data4[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
          <% if(data == 5){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data5[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data5){ %>
                <% for(var i=0; i < data5.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data5[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 10 คน </b></td>
                  <td> <% if(data5[i].nump){%>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data5[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data5[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data5[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data5[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                      <% } else if (data5[i].idrm == datastrm) { %>
                        <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                      <% } else { %>
                      <a href="/student/editRoom/<%=data5[i].idrm%>/<%=data5[i].idbu%>/<%=data5[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
          <% if(data == 6){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data6[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data6){ %>
                <% for(var i=0; i < data6.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data6[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 10 คน </b></td>
                  <td> <% if(data6[i].nump){%>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data6[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data6[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data6[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data6[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                      <% } else if (data6[i].idrm == datastrm) { %>
                        <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                      <% } else { %>
                        <a href="/student/editRoom/<%=data6[i].idrm%>/<%=data6[i].idbu%>/<%=data6[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
          <% if(data == 7){ %>
            <h2>
              <p align='center' class='table-primary'><b><%=data7[0].namebu%></b></p>
            </h2>

            <table class="table table-hover">
              <thead>
                <tr class="table-warning">

                  <th>หมายหมายห้อง</th>
                  <th>จำนวนผู้ใช้งาน</th>
                  <th>สถานะห้อง</th>
                  <th>คงเหลือ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>

              <tbody>
                <% if(data7){ %>
                <% for(var i=0; i < data7.length; i++) {%>
                <tr>
                  <td><b class="btn btn-primary btn-lg"> <%= data7[i].number %> </b> </td>
                  <td><b class="btn btn-secondary btn-lg"> 4 คน </b></td>
                  <td> <% if(data7[i].nump){%>
                        <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data7[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                  <td>
                    <% if (data7[i].nump == 0) { %>
                      <b class="btn btn-danger btn-lg">0</b>
                    <% } else { %>
                    <b class="btn btn-info btn-lg"><%= data7[i].nump %></b>
                    <% } %>

                  </td>
                  <td>
                    <% if (data7[i].nump == 0) { %>
                        <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                    <% } else if (data7[i].idrm == datastrm) { %>
                      <b class="btn btn-danger btn-lg"> ห้องเดิม </b>
                    <% } else { %>
                      <a href="/student/editRoom/<%=data7[i].idrm%>/<%=data7[i].idbu%>/<%=data7[i].nump%>/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-success btn-lg"> เลือกห้องพัก </a>
                    <% } %>
                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
            <br><br>
            <br><br>
          <% } %>
        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
