<%- include ("../_header") %>
<style media="screen">
  .foxxx {
    font-size: 30px;
  }

  .fo {
    font-size: 50px;
  }
</style>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center" class="btn btn-success btn-lg  fo">เลือกหอพัก</p>
          </h3>
          <br><br>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>ชื่อตึก</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>คงเหลือ</th>
                <th>สถานะหอ</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 1</b></td>
                <td>  <b class="btn btn-secondary btn-lg">60 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data.length; j++) {%>
                    <%var x = data[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/1" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 2</b></td>
                <td>  <b class="btn btn-secondary btn-lg">60 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data2.length; j++) {%>
                    <%var x = data2[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data2[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data2[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data2[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data2[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/2" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 3</b></td>
                <td>  <b class="btn btn-secondary btn-lg">225 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data3.length; j++) {%>
                    <%var x = data3[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data3[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data3[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data3[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data3[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/3" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 4</b></td>
                <td>  <b class="btn btn-secondary btn-lg">252 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data4.length; j++) {%>
                    <%var x = data4[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data4[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data4[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data4[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data4[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/4" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 5</b></td>
                <td>  <b class="btn btn-secondary btn-lg">60 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data5.length; j++) {%>
                    <%var x = data5[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data5[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data5[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data5[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data5[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/5" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 6</b></td>
                <td>  <b class="btn btn-secondary btn-lg">60 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data6.length; j++) {%>
                    <%var x = data6[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data6[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data6[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data6[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data6[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/6" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
              <tr>
                <td>  <b class="btn btn-primary btn-lg">UNI-DORM 7</b></td>
                <td>  <b class="btn btn-secondary btn-lg">120 คน</b></td>
                <td>

                  <%var sum = 0;%>
                  <% for(var j=0; j < data7.length; j++) {%>
                    <%var x = data7[j].nump; %>
                    <%var sum = x + sum;%>
                  <% } %>
                  <b class="btn btn-info btn-lg"><%= data7[0].nump = sum; %></b>

                </td>
                <td>
                  <% if(data7[0].nump){%>
                  <b class="btn btn-success btn-lg"> หอพักยังว่างอยู่ </b>
                  <% }else if (data7[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> หอพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data7[0].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/tanant/ListBuildingSee/7" class="btn btn-success btn-lg"> เลือกหอพัก </a>
                  <% } %>
                </td>
              </tr>
              <!-- //<-------------------------------------------------------------------------->
            </tbody>
          </table>
        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
