<%- include ("../_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">


          <font color=#000000 style="font-size:40px">ลบข้อมูลผู้ย้ายเข้า</font>

          <table class="mt-3">
            <tbody>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อตึก </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data4.name %> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> เลขห้องพัก </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data3.number %> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อ-สกุลนักศึกษา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.firstname + " "+ data.lastname%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> โปรแกรมวิชา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.namebn %> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> วันย้ายเข้า </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.dayin %> </font>
                  </h5>
                </td>
              </tr>



 <br><br>





            </tbody>
          </table>
          <br>
          <form action="/tanant/delete/<%=data.idst%>/<%=datastrm%>/<%=datarm%>" method="POST">
          <input type="hidden" name="student_id" value="<%=data.idst%>" class="form-control">
          <div class="form-group mt-3"><h5> วันที่ย้ายออก </h5>

              <input type="date" name="dateout" class="form-control">
          </div>


          <a href="/tanant" class="btn btn-primary"> กลับ </a>
          <button type="submit"class="btn btn-success">ยืนยัน</button>
          </form>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        </div>
      </div>
    </div>
  </div>
  <%- include ("../_footer") %>
