<%- include ("../_header") %>
<style media="screen">
  .foxxx {
    font-size: 30px;
  }

  .fo {
    font-size: 50px;
  }
</style>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center" class="btn btn-success btn-lg  fo">เลือกห้องพัก</p>
          </h3>
          <br><br>
          <% if(data == 1){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data1[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายเลขห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data1){ %>
              <% for(var i=0; i < data1.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data1[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 10 คน</b></td>
                <td>
                  <% if(data1[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data1[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data1[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data1[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
          <% if(data == 2){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data2[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data2){ %>
              <% for(var i=0; i < data2.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data2[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 10 คน</b></td>
                <td>
                  <% if(data2[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data2[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data2[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data2[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
          <% if(data == 3){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data3[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data3){ %>
              <% for(var i=0; i < data3.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data3[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 4 คน </b></td>
                <td>
                  <% if(data3[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data3[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data3[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data3[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
          <% if(data == 4){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data4[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data4){ %>
              <% for(var i=0; i < data4.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data4[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 4 คน </b></td>
                <td>
                  <% if(data4[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </>
                    <% }else if (data4[i].num == 0) { %>
                    <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                    <% } %>
                </td>
                <td>
                  <% if (data4[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data4[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
          <% if(data == 5){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data5[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data5){ %>
              <% for(var i=0; i < data5.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data5[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 10 คน</b></td>
                <td>
                  <% if(data5[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data5[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data5[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data5[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
          <% if(data == 6){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data6[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data6){ %>
              <% for(var i=0; i < data6.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data6[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 10 คน</b></td>
                <td>
                  <% if(data6[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data6[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data6[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data6[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
          <% if(data == 7){ %>
          <h2>
            <p align='center' class='table-primary'><b><%=data7[0].namebu%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้ใช้งาน</th>
                <th>สถานะห้อง</th>
                <th>คงเหลือ</th>
              </tr>
            </thead>

            <tbody>
              <% if(data7){ %>
              <% for(var i=0; i < data7.length; i++) {%>
              <tr>
                <td><b class="btn btn-primary btn-lg"><%= data7[i].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> 4 คน </b></td>
                <td>
                  <% if(data7[i].nump){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (data7[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (data7[i].nump == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= data7[i].nump %></b>
                  <% } %>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
