<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">

    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <h1 align='center'><b> ข้อมูลผู้เช่าปัจจุบัน </b></h1>
          <br><br>

          <% for (var i = 0; i < bu.length; i++) { %>
          <h4>
            <p align='left'><%= bu[i].name%></p>
          </h4>

          <table class=" table table-bordered table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>ชื่อตึก</th>
                <th>เลขห้องพัก</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>โปรแกรมวิชา</th>
                <th>วันย้ายเข้า</th>
                <th>กำหนด</th>
              </tr>
            </thead>

            <tbody>
              <% var b = 0; %>
              <% for(var j=0; j < tn.length; j++) {%>
              <% if (tn[j].buid == bu[i].id) {%>
              <% b = b + 1 ; %>
              <tr>
                <td><%= (b) %> </td>
                <td><%= tn[j].namebu %> </td>
                <td><%= tn[j].number %> </td>
                <td><%= tn[j].firstname + " " + tn[j].lastname %> </td>
                <td><%= tn[j].namebn %> </td>
                <td><%= tn[j].dayin %> </td>

                <td>
                  <a href="/tanant/EditBuilding/<%=tn[j].idst%>/<%=tn[j].rmid%>/<%=tn[j].number%>" class="btn btn-info"> ย้ายห้อง </a>
                  <a href="/tanant/del/<%=tn[j].idst%>/<%=tn[j].rmid%>/<%=tn[j].number%>" class="btn btn-warning"> ย้ายออก </a>
                  <% } %>
                </td>
              </tr>
              <% } %>


            </tbody>
          </table>
          <br><br>
          <br><br>
          <% } %>
        </div>
      </div>

    </div>
  </div>
  <%- include('../_footer') %>
