<%- include ("../_header") %>
<style media="screen">
  .foxxx {
    font-size: 30px;
  }

  .fo {
    font-size: 50px;
  }
</style>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center" class="btn btn-success btn-lg  fo">เลือกห้องพัก</p>
          </h3>
          <br><br>
          <% var buid = Number(id) %>
          <% var bb = buid-1 %>

          <h2>
            <p align='center' class='table-primary'><b><%=bu[bb].name%></b></p>
          </h2>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">

                <th>หมายหมายห้อง</th>
                <th>จำนวนผู้เช่า</th>
                <th>สถานะห้อง</th>
                <th>ว่าง</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% for(var r=0; r < rm.length; r++) {%>
              <% if (rm[r].building_id == bu[bb].id ) { %>
                <%var sta = 0;%>
              <% for(var j = 0; j < strm.length; j++) {%>
              <%  if (strm[j].stidrm == rm[r].id) { %>
              <% sta = sta+1 %>
              <%  } %>
              <% } %>
              <% var ask = rm[r].peoplenumber - sta  ;%>
              <% rm[r].xxx = ask %>

              <tr>
                <td><b class="btn btn-primary btn-lg"><%= rm[r].number %></b></td>
                <td> <b class="btn btn-secondary btn-lg"> <%= rm[r].peoplenumber %></b></td>
                <td>
                  <% if(rm[r].peoplenumber > 0){%>
                  <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                  <% }else if (rm[r].peoplenumber == 0) { %>
                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                  <% } %>
                </td>
                <td>
                  <% if (rm[r].xxx  == 0) { %>
                  <b class="btn btn-danger btn-lg">0</b>
                  <% } else { %>
                  <b class="btn btn-info btn-lg"><%= rm[r].xxx %></b>
                  <% } %>

                </td>
                <td>
                  <% if (rm[r].xxx  == 0) { %>
                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                  <% } else { %>
                  <a href="/student/add/<%=rm[r].id%>/<%=rm[r].building_id%>/<%= tanantroomid %>" class="btn btn-warning btn-lg"> เลือกห้องพัก </a>
                  <% } %>
                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
