<%- include ("../_header") %>
<style media="screen">
  .foxxx{
    font-size : 30px;
  }
  .fo{
    font-size : 50px;
  }
</style>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="card">
        <div class="card-body">
          <h1 align="center">
            <p align="center" class="btn btn-success btn-lg  fo"> เลือกหอพัก </p>
          </h1>
          <br><br>
                    <div class="" align="center">
                      <a href="/tanant/addEditBuilding/1/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 1</a>&nbsp;&nbsp;&nbsp;
                      <a href="/tanant/addEditBuilding/2/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 2</a>&nbsp;&nbsp;&nbsp;
                      <a href="/tanant/addEditBuilding/3/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 3</a>&nbsp;&nbsp;&nbsp;
                      <a href="/tanant/addEditBuilding/4/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 4</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    <br><br><br>
                    <div class="" align="center">
                    <a href="/tanant/addEditBuilding/5/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 5</a>&nbsp;&nbsp;&nbsp;
                    <a href="/tanant/addEditBuilding/6/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 6</a>&nbsp;&nbsp;&nbsp;
                    <a href="/tanant/addEditBuilding/7/<%=datast%>/<%=datastrm%>/<%=da%>" class="btn btn-warning btn-lg foxxx">uni-dorm 7</a>&nbsp;&nbsp;&nbsp;
                    </div>

          <br><br>
          <br><br>

        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
