<%- include ("../_header") %>
<style media="screen">
  .set-unidom-img{
    width:220px;
  }
</style>
<section>
  <div class="container">
    <div class="text-center">
        <div class="mt-5">
            <h1 class="text-primary"><b>ข้อมูลการชำระค่าน้ำ</b></h1>
        </div>
    </div>
    <hr>
    <div class="row">
      <%for (var i = 0; i < building.length; i++) { %>
        <div class="col-md-3 text-center mb-4">
          <a href="/we/room/<%=building[i].id%>"><img src="/unidome.PNG" alt="" class="set-unidom-img"></a>
          <h3><b><%=building[i].name%></b></h3>
        </div>
      <%}%>
    </div>
  </div>
</section>
<%- include ("../_footer") %>
