<%- include('../_header') %>
<section>
  <div class="container mt-5">
    <h1 align='center'><b> ยอดชำระค่าน้ำ ประจำเดือน <%=month[0].name%> <%=yth%></b></h1>
    <h3 class="text-primary"><%=unidome[0].name%></h3>
    <hr>
    <div class="row">
      <div class="col-6">
        <div class="text-left">
          <form class="form-group" action="/we/list/<%=url.unid%>" method="post">
            <datalist id="inputMonth">
              <%for (var i = 0; i < month1.length; i++) { %>
                <option value="<%=month1[i].name%>"></option>
              <%}%>
            </datalist>
            <label>เดือน</label>
            <input list="inputMonth" type="text" name="month" value="" placeholder="เดือนภาษาไทย" required>
            <label>ปี</label>
            <input list="inputYear" type="text" name="year" value="<%=yth%>" style="width: 60px;" placeholder="พ.ศ." required>
            <button type="submit" class="btn btn-info">ค้นหา</button>
          </form>
        </div>
      </div>
      <div class="col-6">
        <div class="text-right">
          <a href="/we/unidome" class="btn btn-dark">กลับ</a>
          <% if(we.length == 0){ %>
            <a href="/we/add/<%=yth%>-<%=month[0].name%>/<%=url.unid%>" class="btn btn-success">จัดการ</a>
          <% }else{ %>
            <a href="/we/edit/<%=yth%>-<%=month[0].name%>/<%=url.unid%>" class="btn btn-info">แก้ไข</a>
          <%}%>
          <a href="/we/jsreport/" target="_blank" class="btn btn-primary">Report</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover">
      <thead  align="center">
        <tr class="table-active" align="center">
          <th width="50px" rowspan="3">ลำดับ</th>
          <th rowspan="3">ชื่อตึก</th>
          <th rowspan="3">เลขห้อง</th>
          <th colspan="3">ค่าน้ำ</th>
          <th colspan="3">ค่าไฟ</th>
          <th rowspan="3">รวม</th>
          <th rowspan="3">รวมจ่าย</th>
          <th rowspan="3">เช็คจ่าย</th>
        </tr>
        <tr>
          <th align="center" class="bg-primary">หน่วยมิเตอร์ <br> ก่อน/หลัง</th>
          <th align="center" class="bg-primary">จำนวนหน่วย <br> ที่ใช้ </th>
          <th align="center" class="bg-primary">ค่าบำรุงรักษา <br> มิเตอร์</th>
          <th align="center" class="bg-info">หน่วยมิเตอร์ <br> ก่อน/หลัง</th>
          <th align="center" class="bg-info">จำนวนหน่วย <br> ที่ใช้ </th>
          <th align="center" class="bg-info">ค่าบำรุงรักษา <br> มิเตอร์</th>
        </tr>
      </thead>
      <tbody>
        <% if(building){ %>
          <% for(var i = 0; i < building.length; i++) { %>
            <tr>
              <td align="center"><%=i+1%></td>
              <td><%= building[i].name %> </td>
              <td><%= building[i].number %> </td>
              <td align="center"><%= building[i].oldwater + "  /  " + building[i].newwater %>  </td>
              <td align="right"><%= building[i].newwater - building[i].oldwater %>  </td>
              <td align="right"><%= building[i].watermeter %></td>
              <td align="center"><%= building[i].oldelec + "  /  " + building[i].newelec %>  </td>
              <td align="right"><%= building[i].newelec - building[i].oldelec %>  </td>
              <td align="right"><%= building[i].elecmeter %></td>
              <td align="right"><%= ((building[i].newwater - building[i].oldwater) * building[i].watercost)+((building[i].newelec - building[i].oldelec) * building[i].eleccost)%></td>
              <td align="right"><%= ((building[i].newwater - building[i].oldwater) * building[i].watercost + building[i].watermeter)+((building[i].newelec - building[i].oldelec) * building[i].eleccost + building[i].elecmeter)%>  </td>
              <td align="center">
                <% if(building[i].payday != null){ %>
                  <%= building[i].payday %> &nbsp; &nbsp; <a href="/we/cpay/<%=url.unid%>/<%= building[i].waid %>" class="btn btn-danger"> ยกเลิก </a>
                <% } else if (building[i].weid != null) { %>
                  <a href="/we/pay/<%=url.unid%>/<%= building[i].weid %>" class="btn btn-warning"> จ่าย </a>
                <% } %>
              </td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<script type="text/javascript">

</script>

<%- include('../_footer') %>
