<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                        <form action="/water/update/<%= data1.eid %>" method="POST">

                            <h3 align="center"> เพิ่มข้อมูลชำระค่าไฟ-ค่าน้ำ </h3>

                            <div class="form-group mt-3"><h5> วันเวลา </h5>
                                <input type="text" name="day" value="<%= data1.day%>" placeholder="name"
                            class="form-control">
                            </div>

                            <div class="form-group mt-3"><h5> หน่วยค่าไฟครั้งก่อน </h5>
                                <input type="text" name="oldelec" value="<%= data1.olde%>" placeholder="name"
                            class="form-control">
                            </div>

                            <div class="form-group mt-3"><h5> หน่วยค่าไฟครั้งหลัง </h5>
                                <input type="text" name="newelec" value="<%= data1.newe%>" placeholder="name"
                            class="form-control">
                            </div>

                            <div class="form-group mt-3"><h5> หน่วยค่าน้ำครั้งก่อน </h5>
                                <input type="text" name="oldwater" value="<%= data1.oldw%>" placeholder="name"
                            class="form-control">
                            </div>

                            <div class="form-group mt-3"><h5> หน่วยค่าน้ำครั้งหลัง </h5>
                                <input type="text" name="newwater" value="<%= data1.neww%>" placeholder="name"
                            class="form-control">
                            </div>





                        <a href="/water/add" class="btn btn-primary"> กลับ </a>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
<%- include ("../_footer") %>
