<%- include('../_header') %>

<section>
  <div class="container mt-5">
    <h1 align='center'><b> แก้ไขมิเตอร์ค่าน้ำ ประจำเดือน <%=dth%> <%=yth%></b></h1>
    <h3 class="text-primary"><%=unidome[0].name%></h3>
    <hr>
    <div class="text-right mb-3">
      <a href="/we/list/<%=building[0].id%>" class="btn btn-dark">กลับ</a>
    </div>
  </div>
  <form action="/we/update/<%=yth%>-<%=dth%>/<%=building[0].id%>" method="POST">
    <div class="container-fluid">
      <table class="table table-bordered table-hover">
        <thead  align="center">
          <tr class="table-active" align="center">
            <th width="50px" rowspan="3">ลำดับ</th>
            <th rowspan="3">ชื่อตึก</th>
            <th rowspan="3">เลขห้อง</th>
            <th colspan="3">ค่าน้ำ</th>
            <th colspan="3">ค่าไฟ</th>
            <th rowspan="3">รวม</th>
            <th rowspan="3">รวมจ่าย</th>
          </tr>
          <tr>
            <th align="center" class="bg-primary">หน่วยมิเตอร์ <br> ก่อน/หลัง</th>
            <th align="center" class="bg-primary">จำนวนหน่วย <br> ที่ใช้ </th>
            <th align="center" class="bg-primary">ค่าบำรุงรักษา <br> มิเตอร์</th>
            <th align="center" class="bg-info">หน่วยมิเตอร์ <br> ก่อน/หลัง</th>
            <th align="center" class="bg-info">จำนวนหน่วย <br> ที่ใช้ </th>
            <th align="center" class="bg-info">ค่าบำรุงรักษา <br> มิเตอร์</th>
          </tr>
        </thead>
        <tbody>
          <% if(building){ %>
            <% for(var i = 0; i < building.length; i++) {%>
              <tr>
                <td align="center"><%=i+1%></td>
                <td><%= building[i].name %></td>
                <td>
                  <%= building[i].number %>
                  <input type="hidden" name="id" value="<%=building[i].weid%>">
                </td>
                <td align="center">
                  <input type="text" class="form-control-md text-right" name="oldwater" value="<%=building[i].oldwater%>" style="width: 80px;"> /
                  <input type="text" class="form-control-md text-right" name="newwater" value="<%=building[i].newwater%>" style="width: 80px;">
                </td>
                <td align="right"><%= building[i].newwater - building[i].oldwater %></td>
                <td align="right"><%= building[i].watermeter %></td>
                <td align="center">
                  <input type="text" class="form-control-md text-right" name="oldelec" value="<%=building[i].oldelec%>" style="width: 80px;"> /
                  <input type="text" class="form-control-md text-right" name="newelec" value="<%=building[i].newelec%>" style="width: 80px;">
                </td>
                <td align="right"><%= building[i].newelec - building[i].oldelec %></td>
                <td align="right"><%= building[i].elecmeter %></td>
                <td align="right"><%= ((building[i].newwater - building[i].oldwater) * building[i].watercost)+((building[i].newelec - building[i].oldelec) * building[i].eleccost)%></td>
                <td align="right"><%= ((building[i].newwater - building[i].oldwater) * building[i].watercost + building[i].watermeter)+((building[i].newelec - building[i].oldelec) * building[i].eleccost + building[i].elecmeter)%></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="container mb-3">
      <a href="#/" class="btn btn-primary" id="compute">คำณวน</a>
      <a href="#/" class="btn btn-danger" id="reload">ยกเลิก</a>
      <button type="submit" class="btn btn-success">ยืนยัน</button>
    </div>
  </form>
</section>

<script type="text/javascript">
$('#reload').hide();

  $( document ).ready(function() {
    $('#compute').on('click', function (){
      var tr = $('tbody tr');
      $.each(tr, function(index, value){
        var oldw = $('tbody tr:eq('+index+') td:eq(3) input:eq(0)').val();
	      var neww = $('tbody tr:eq('+index+') td:eq(3) input:eq(1)').val();
        var olde = $('tbody tr:eq('+index+') td:eq(6) input:eq(0)').val();
	      var newe = $('tbody tr:eq('+index+') td:eq(6) input:eq(1)').val();
        var w = neww-oldw;
        if (w < 0) {
          w = 0;
        }
        var e = newe-olde;
        if (e < 0) {
          e = 0;
        }
        $('tbody tr:eq('+index+') td:eq(4)').text(w);
        $('tbody tr:eq('+index+') td:eq(7)').text(e);
        $('tbody tr:eq('+index+') td:eq(9)').text(((w)*5)+((e)*3.35));
        $('tbody tr:eq('+index+') td:eq(10)').text(((w)*5)+((e)*3.35)+(+$('tbody tr:eq('+index+') td:eq(5)').text())+(+$('tbody tr:eq('+index+') td:eq(5)').text()));
        console.log($('tbody tr:eq('+index+')'));
      });
      $('#reload').show();
    });

    $('#reload').on('click', function(){
      location.reload();
    });
  });

</script>

<%- include('../_footer') %>
