<%- include('../_header') %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-12">
        <h1 align = 'center'><b> ข้อมูลคำร้องขอย้ายหอพัก กรณีรอย้ายเข้า</b></h1>
          <br><br>
          <table class = "table table-bordered table-hover">
            <thead>
              <tr class="table-active">
                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>อาคาร</th>
                <th>เลขที่ห้อง</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <% if(movein){ %>
              <% for(var i=0; i < movein.length; i++) { %>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= movein[i].studentid %> </td>
                <td><%= movein[i].firstname + "   " +  movein[i].lastname %> </td>
                <td><%= movein[i].faname %> </td>
                <td><%= movein[i].buname %> </td>
                <td><%= movein[i].roomnumber %> </td>
  
                <td>
                  <a href="/tanantout/moveincomin/<%= movein[i].mnid %>" class="btn btn-success"> ยืนยันการย้ายเข้า </a>
                  <a href="/tanantout/delete/deletemovein/<%= movein[i].mnid %>/<%= movein[i].buid%>" class="btn btn-danger">ยกเลิกการย้าย </a>
                </td>
              </tr>
               <% } %>
                <% } %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <%- include('../_footer') %>
  