<%if (session.user) {%>
  <%- include ("../_header") %>
<%}else {%>
  <%- include ("../_student_header") %>
<%}%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" style="margin-left: 18%;">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <img src="/logo.png" width="150" style="margin-left: 43%;">
                <br><br>
                <h2 align="center">คำร้องย้ายออกหอพัก</h2>
                <br>
                <h2 align="center">มหาวิทยาลัยราชภัฏเชียงราย</h2>
                <hr><br><br>
                <form action="/student/moveout/saveout/<%= student[0].id %>" method="POST">
                  <table class="table table-borderless">
                    <tr>
                      <td>ชื่อ</td>
                      <td><input type="text"  value="<%= student[0].firstname%>" class="form-control" disabled></td>
                      <td>นามสกุล</td>
                      <td><input type="text"  value="<%= student[0].lastname%>" class="form-control" disabled></td>
                      <td>รหัสนักศึกษา</td>
                      <td><input type="text"  value="<%= student[0].studentid%>" class="form-control" disabled></td>
                      <td>คณะวิชา</td>
                      <td><input type="text"  value="<%= student[0].faname%>" class="form-control" disabled></td>
                    </tr>
                  </table>
                  <table class="table table-borderless">
                    <tr>
                      <td>ชั้นปีที่</td>
                      <td><input type="text"  value="<%= student[0].class%>" class="form-control" disabled></td>
                      <td>นักศึกษาทุนกู้ยืม</td>
                      <td><input type="text"  value="<%= student[0].brname%>" class="form-control" disabled></td>
                      <td>เบอร์ติดต่อ</td>
                      <td><input type="text"  value="<%= student[0].phone%>" class="form-control" disabled></td>
                    </tr>
                  </table>
                  <table class="table table-borderless">
                    <tr>
                      <td>ที่อยู่ตามทะเบียนบ้าน</td>
                      <td><textarea  id="" cols="50" rows="3" disabled><%= student[0].address1%></textarea></td>
                      <td>วัตถุประสงค์ในการย้ายออก</td>
                      <td><textarea name="object" id="" cols="50" rows="3"></textarea></td>
                    </tr>
                  </table>
                  <table class="table table-borderless">
                    <tr>
                      <td>จากหอพัก</td>
                      <td><input type="text"  value="<%= student[0].buname%>" class="form-control" disabled></td>
                      <td>จากห้อง</td>
                      <td><input type="text"  value="<%= student[0].roomnumber%>" class="form-control" disabled></td>
                    </tr>
                    <tr>
                      <td>ที่อยู่อาศัยใหม่</td>
                      <td><input type="text"  name="place" class="form-control"></td>
                    </tr>
                    <tr>
                     
                      <td>เหตุผลในการย้ายออก</td>
                      <td><textarea name="because" id="" cols="50" rows="3"></textarea></td>
                    </tr>
                  </table>
                  <hr>
                  <button type="submit" class="btn btn-success">ตกลง</button>
                  <a href="<% if(buid) {%>/student/<%= buid %><%}else{%>/studentmoveout<%}%>" class="btn btn-danger">ยกเลิก</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include ("../_footer") %>
