<%-include('../_student_header')%>

<section>
    <div class="container">
        <div class="">
            <h1 align="center">ค้นหารายชื่อ</h1>
            <form action="/studentmoveout/add" method="Post">
                <div class="row">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1"> -
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1"> -
                    <input type="text" class="form-control text-ce nter" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1"> -
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1"> -
                    <input type="text" class="form-control text-center" name="numberid" value="" style="width: 40px;" maxlength="1">
                    <div class="ml-2">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> ค้นหา</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</section>


<script>
    $(".form-control").keyup(function () {
        if (this.value.length == this.maxLength) {
          $(this).next('.form-control').focus();
        }
      });
</script>

<%-include('../_footer')%>
