<%if (session.user) {%>
  <%- include ("../_header") %>
<%}else {%>
  <%- include ("../_student_header") %>
<%}%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10" style="margin: auto;">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <img src="/logo.png" width="150" style="margin-left: 43%;">
                <br><br>
                <h2 align="center">คำร้องขอย้ายหอพัก</h2>
                <br>
                <h2 align="center">มหาวิทยาลัยราชภัฏเชียงราย</h2>
                <hr><br><br>
                <form action="/student/movein/savein/<%= student[0].id%>" method="POST">
                  <table class="table table-borderless">
                    <tr>
                      <td>ชื่อ</td>
                      <td><input type="text"  value="<%= student[0].firstname%>" class="form-control" disabled></td>
                      <td>นามสกุล</td>
                      <td><input type="text"  value="<%= student[0].lastname%>" class="form-control" disabled></td>
                      <td>รหัสนักศึกษา</td>
                      <td><input type="text"  value="<%= student[0].studentid%>" class="form-control" disabled></td>
                      <td>คณะวิชา</td>
                      <td><input type="text"  value="<%= student[0].faname%>" class="form-control" disabled></td>
                    </tr>
                  </table>
                  <table class="table table-borderless">
                    <tr>
                      <td>ชั้นปีที่</td>
                      <td><input type="text"  value="<%= student[0].class%>" class="form-control" disabled></td>
                      <td>นักศึกษาทุนกู้ยืม</td>
                      <td><input type="text"  value="<%= student[0].brname%>" class="form-control" disabled></td>
                      <td>เบอร์ติดต่อ</td>
                      <td><input type="text"  value="<%= student[0].phone%>" class="form-control" disabled></td>
                    </tr>
                  </table>
                  <table class="table table-borderless">
                    <tr>
                      <td>ที่อยู่ตามทะเบียนบ้าน</td>
                      <td><textarea  id="" cols="50" rows="3" disabled><%= student[0].address1%></textarea></td>
                      <td>วัตถุประสงค์ในการย้าย</td>
                      <td><textarea name="object" id="" cols="50" rows="3"><% if(movein.length > 0){ %> <%=movein[0].object%><% } %></textarea></td>
                    </tr>
                  </table>
                  <table class="table table-borderless">
                    <tr>
                      <td>จากหอพัก</td>
                      <td><input type="text"  value="<%= student[0].buname%>" class="form-control" disabled></td>
                      <td>จากห้อง</td>
                      <td><input type="text"  value="<%= student[0].roomnumber%>" class="form-control" disabled></td>
                      <td>เพื่อไปอยู่ที่หอพัก</td>
                      <td>
                        <select class ='form-control' name='building_id' id="getBuilding">
                          <option value=""> เลือกหอพัก </option>
                          <% if(building) { %>
                          <% for(var i=0; i<building.length; i++){ %>
                            <option value="<%= building[i].id %>" <%if(movein.length > 0 ) if (movein[0].building_id == building[i].id){ %> selected <% } %> >
                              <%= building[i].name %>
                              </option>
                          <%}%>
                        <%}%>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td>เพื่อไปอยู่ที่ห้อง</td>
                      <td>
                        <select class ='form-control' name='room_id' id="getRoom">
                          <option value=""> เลือกห้อง </option>
                          <% if(room) { %>
                          <% for(var i=0; i<room.length; i++){ %>
                            <option value="<%= room[i].id %>" <% if(movein.length > 0 ) if(movein[0].room_id == room[i].id){ %> selected  <% } %> >
                              <%= room[i].number %>
                              </option>
                          <%}%>
                        <%}%>
                      </select>
                      </td>
                    </tr>
                    <tr>
                      <td>เหตุผลในการย้าย</td>
                      <td><textarea name="because" id="" cols="50" rows="3"><% if(movein.length > 0 ){ %> <%=movein[0].because%><% } %></textarea></td>
                    </tr>
                  </table>
                  <hr>
                 
                    
                    
                    <button type="submit" class="btn btn-success">ตกลง</button>
                 
                  <a href="<%if(buid != null){%>/student/<%=buid%><%}else{%>/studentmovein<%}%>" class="btn btn-primary">กลับ</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/getroom.js"></script>

<%- include ("../_footer") %>
