
  <%- include('../_header') %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-12">
        <h1 align = 'center'><b> ข้อมูลประวัติการย้ายออก </b></h1>
          <br><br>
          <table class = "table table-bordered table-hover">
            <thead>
              <tr class="table-active">
                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>อาคาร</th>
                <th>เลขที่ห้อง</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <% if(historyout){ %>
              <% for(var i=0; i < historyout.length; i++) { %>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= historyout[i].studentid %> </td>
                <td><%= historyout[i].firstname + "   " +  historyout[i].lastname %> </td>
                <td><%= historyout[i].faname %> </td>
                <td><%= historyout[i].buname %> </td>
                <td><%= historyout[i].roomnumber %> </td>
  
                <td>
                  <a href="/update/updatehistoryout/<%= historyout[i].mnid %>" class="btn btn-success"> แก้ไข </a>
                  <a href="/delete/deletehistoryout/<%= historyout[i].mnid %>" class="btn btn-danger">ลบ </a>
                </td>
              </tr>
               <% } %>
                <% } %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <%- include('../_footer') %>
  