<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align='center'><b> อาคาร </b></h1>
      <br><br>

      <p align='right'><a href="/building/add" class="btn btn-success">เพิ่ม</a></p>
      <table class="table table-bordered table-hover">
        <thead align="center">
          <tr class="table-active">
            <th>ลำดับ</th>
            <th>ชื่ออาคาร</th>
            <th>กำหนด</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
          <% for(var i=0; i < data.length; i++) {%>
          <tr>
            <td align="center"><%= (i+1) %> </td>
            <td><%= data[i].name %> </td>
            <td align="center">
              <a href="/room/list/<%= data[i].id %>" class="btn btn-primary">ห้องพัก</a>
              <a href="/building/update/<%= data[i].id %>" class="btn btn-info"> แก้ไข </a>
              <a href="/building/del/<%= data[i].id %>" class="btn btn-danger"> ลบ </a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../_footer') %>
