<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> ระบบจัดการหอพัก </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="icon" type="png" href="logo.png" />
  <link href="/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><h3><span> </span> ระบบจัดการหอพัก </h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">หน้าแรก</a>
      </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-building"></i> <span>จัดการห้องพัก</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/tanantroom">ข้อมูลการจอง</a>
            <a class="dropdown-item" href="/tanantcomin">ข้อมูลวันที่ย้ายเข้า</a>
            <a class="dropdown-item" href="/tanantout/movein">ข้อมูลคำร้องขอย้ายหอพัก/ห้องพัก</a>
            <a class="dropdown-item" href="/tanantout/list/comin">ข้อมูลยืนยันการย้ายหอพัก/ห้องพัก</a>
            <a class="dropdown-item" href="/tanantout/moveout">ข้อมูลคำร้องขอย้ายออก</a>
            <a class="dropdown-item" href="/tanantout/list/comout">ข้อมูลยืนยันการย้ายออก</a>
          </div>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-suitcase-rolling"></i> <span>ประวัติการเข้า - ออก</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/tanantroom">ข้อมูลประวัติการเข้า</a>
            <a class="dropdown-item" href="/tanantcomin">ข้อมูลประวัติการขอย้ายหอพัก/ห้องพัก</a>
            <a class="dropdown-item" href="/history/moveout">ข้อมูลประวัติการย้ายออก</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-graduate"> </i> <span>จัดการนักศึกษา</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/tanant/listTanantBuilding">เพิ่มข้อมูลนักศึกษา</a>
            <a class="dropdown-item" href="/student/unidorm">ข้อมูลนักศึกษา</a>
            <a class="dropdown-item" href="/family">ข้อมูลผู้ปกครอง</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-filter"></i> <span>แยกประเภทข้อมูล</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/facultymode">แยกประเภทคณะวิชา</a>
            <a class="dropdown-item" href="/classnmode">แยกประเภทชั้นปี</a>
            <a class="dropdown-item" href="/tribemode">แยกประเภทชนเผ่า</a>
            <a class="dropdown-item" href="/bursarymode">แยกประเภททุนการศึกษา</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks"></i> <span>จัดการข้อมูล</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/building"><i class="fas fa-bed"> </i> เพิ่มอาคาร/ห้องพัก</a>
            <a class="dropdown-item" href="/tribe">ชนเผ่า</a>
            <a class="dropdown-item" href="/bursary">ทุนการศึกษา</a>
            <a class="dropdown-item" href="/status">สถานภาพผู้ปกครอง</a>
            <a class="dropdown-item" href="/support">ผู้อุปการะ</a>
            <a class="dropdown-item" href="/faculty">คณะวิชา</a>
            <a class="dropdown-item" href="/branch">โปรแกรมวิชา</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <span>แจ้งซ่อม</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/repair/add">เพิ่มข้อมูลการแจ้งซ่อม</a>
            <a class="dropdown-item" href="/repair/confirm">รอยืนยันการแจ้งซ่อม</a>
            <a class="dropdown-item" href="/repair/date">รอวันที่เข้าซ่อม</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <span>รายการการชำระ</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/paydorm/bill">รายการการชำระค่าหอพัก</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <span>รายการชำระน้ำไฟ</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/we/build">การชำระค่าน้ำ</a>
            <a class="dropdown-item" href="/paydorm/bill">การชำระค่าไฟ</a>
          </div>
        </li>
      </ul>
    </div>
    <a style="border: 3px solid ;" class="btn btn-danger" href="/logout" id="logout-id"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a>
  </nav>


  <% if(session.success==false){ %>
    <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class="alert alert-danger" role="alert">
        <%= session.errors.errors[i]["msg"] %>
      </div>
    <%} session.success=null; }%>

    <%if(session.success==true){%>
      <div class="alert alert-success" role="alert">
        <%= session.topic %>
      </div>
    <%} session.success=null;%>

    <style>
      body {
          list-style: none;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
