<html>
<head>
  <meta charset="utf-8">
  <title>ระบบจัดการหอพัก</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="icon" type="png" href="/logo.png" />
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><span> ระบบจัดการหอพัก </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bed"> </i> <span>คำร้อง</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/student/studentmovein">คำร้องขอย้าย</a>
            <a class="dropdown-item" href="/student/studentmoveout">คำร้องย้ายออก</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a  href="/login" class="btn btn-primary">เข้าสู่ระบบสำหรับผู้ดูแลระบบ</a>
        </li>
      </ul>
    </div>
  </nav>

  <% if(session.success==false){ %>
    <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class="alert alert-danger" role="alert"><i class="fas fa-times"></i><span> </span>
        <%= session.errors.errors[i]["msg"] %>
      </div>
    <% } session.success=null; } %>

    <% if(session.success==true){ %>
      <div class="alert alert-dismissible alert-success " role="alert">
        <%= session.topic %>
      </div>
    <%   } session.success=null;  %>
