
<%- include ("_header") %>
<style media="screen">
  .set-img{
    width: 200px;
  }
</style>
<br>
<div class="row">
  <div class="col-md-3 text-center mb-2">
    <a href="/tanant/listTanantBuilding"><img src="1.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>เช่าห้องพัก</b>
    </div>
  </div>
  <div class="col-md-3 text-center mb-2">
    <a href="/tanant"><img src="2.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>ข้อมูลผู้เช่า</b>
    </div>
  </div>
  <div class="col-md-3 text-center mb-2">
    <a href="/student"><img src="3.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>ข้อมูลนักศึกษา</b>
    </div>
  </div>
  <div class="col-md-3 text-center mb-2">
    <a href="/we/unidome"><img src="9.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>ค่าสาธารณูปโภค</b>
    </div>
  </div>

  <!-- //// -->

  <div class="col-md-3 text-center mb-2">
    <a href="/tanantroom"><img src="10.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>ข้อมูลการจอง</b>
    </div>
  </div>
  <div class="col-md-3 text-center mb-2">
    <a href="/classnmode"><img src="6.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>แยกประเภทชั้นปี</b>
    </div>
  </div>
  <div class="col-md-3 text-center mb-2">
    <a href="/facultymode"><img src="5.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b>แยกประเภทคณะวิชา</b>
    </div>
  </div>
  <div class="col-md-3 text-center mb-2">
    <a href="/bursarymode"><img src="8.png" alt="" class="set-img"></a>
    <div class="text-center">
      <b">แยกประเภททุนการศึกษา</b>
    </div>
  </div>
</div>

<%- include ("_footer") %>
