<%- include ("_header") %>
<br>

<style media="screen">
  .set-ew-img{
    width: 250px;
  }
</style>
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-3 text-center">
    <a href="/water/unidome"><img src="water.png" alt="" class="set-ew-img"></a>
    <div class="text-center">
      <h3><b>ค่าน้ำ</b></h3>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <a href="/elec/unidome"><img src="electric.png" alt="" class="set-ew-img"></a>
    <div class="text-center">
      <h3><b>ค่าไฟ</b></h3>
    </div>
  </div>
  <div class="col-md-3">

  </div>
</div>

<%- include ("_footer") %>
