<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>หอพัก</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <a  href="/login" class="btn btn-success" id="btn-2"><h5><i class='fas fa-address-card'></i><span>  </span>เข้าสู่ระบบสำหรับผู้ดูแลระบบ</h5></a>
    <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class="alert alert-danger" role="alert"><i class="fas fa-times"></i><span> </span>
        <%= session.errors.errors[i]["msg"] %>
        </div>
        <%   } session.success=null; } %>

        <% if(session.success==true){ %>
        <div class="alert alert-dismissible alert-success " role="alert">
        <%= session.topic %>
        </div>
        <%   } session.success=null;  %>
    <div class="container mt-7" id="box">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                      <h2 id="box-text">เพิ่มข้อมูลการจอง</h2>
                            <form action="/savereport/save" method="POST">

                              <div class="form-group">
                            ชื่อ <p style="color: red;">*</p><input type="text"
                            name="firstname"
                            placeholder="ชื่อ"
                            class="form-control">
                            </div>

                            <div class="form-group">
                           นามสกุล <p style="color: red;">*</p><input type="text"
                            name="lastname"
                            placeholder="นามสกุล"
                            class="form-control">
                            </div>

                            <div class="form-group">
                            รหัสนักศึกษา <p style="color: red;">*</p><input type="text"
                            name="studentid"
                            placeholder="รหัสนักศึกษา"
                            class="form-control">
                            </div>


                            <div class="form-group">
                                คณะวิชา <select class ='form-control' name='faculty_id'>
                                    <option value=""> เลือกคณะวิชา </option>
                                    <% if(data2) { %>
                                    <% for(var i=0; i<data2.length; i++){ %>
                                      <option value="<%= data2[i].id %>">
                                        <%= data2[i].name %>
                                        </option>
                                    <%}%>
                                  <%}%>
                                      </select>
                                      <br><br><br><br>

                                    </div>


                                </div>

                            <button type="submit" class="btn btn-primary" style="font-size: 20px;">ส่งข้อมูลการจอง</button>
                            <a href="/" class="btn btn-warning" id="btn-1" style="font-size: 25px;"><h5><i class="fas fa-sync-alt"></i><span>  </span>Refresh</h5></a>
                        </div>
                            </form>
                    </div>
                </div>
            </div>
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        #btn-2{
            position: fixed;
           left:82%;
           top: 3%;
        }
        #img-1{
            position: fixed;
            width: 50%;
            height: 60%;
            left: 25% ;
            top: 150px;
            box-shadow: 5px 10px 20px;
        }
        #mq-1{
            position: fixed;
            top: 70px;
        }
        #box {
            position: relative;
            top: 100px;
        }
        #box-text{
            position: relative;
            left: 90px;
        }
        p{
            position: relative;
            display: inline;
        }
    </style>

    </body>
</html>
