

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ระบบจัดการหอพัก</title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="icon" type="png" href="logo.png" />
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#/"><span>ระบบจัดการหอพัก</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="/" class="btn btn-primary">กลับสู่หน้าการจอง</a>
              </li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <form action="/home" method="post">
          <div class="text-center">
            <img src="logo.png" alt="" class="center" width="200" height="">
          </div>
          <fieldset>
            <div class="form-group">
              <label for="exampleInputUsername">ชื่อผู้ใช้งาน</label>
              <input type="text" name="username" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">รหัสผ่าน</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-sign-in-alt"></i> เข้าสู้ระบบ</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
