<%- include ("_header") %>
<br>


<a href="/elec"><img src="11.PNG" alt="" class="hh1"></a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="/add"><img src="22.PNG" alt="" class="hh2"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/add"><img src="33.PNG" alt="" class="hh3"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/"><img src="44.PNG" alt="" class="hh4"></a>&nbsp;&nbsp;&nbsp;&nbsp;



<div class="form-group ">
    <div class="ss2">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/"><img src="55.PNG" alt="" class="hh5"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/"><img src="66.PNG" alt="" class="hh6"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/"><img src="77.PNG" alt="" class="hh7"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>


          </div>
</div>




<style>
    .hh1 {
        width: 12%;
        margin-top: 3%;
        margin-left: 20%;
    }

    .hh2 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }

    .hh3 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }

    .hh4 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }

    .hh5 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }
    .hh6 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }
    .hh7 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }
    .hh8 {
        width: 12%;
        margin-top: 3%;
        margin-left: 3%;
    }



    .ss3 {
        display: inline-block;
        margin-left: 22.5%;
        margin-top: 1%;
    }

    .ss4 {
        margin-left: 8.5%;
    }

    .ss5 {
        margin-left: 7.5%;
    }

    .ss6 {
        margin-left: 7.2%;
    }
    .ss7 {
        display: inline-block;
        margin-left: 22.5%;
        margin-top: 1%;
    }

    .ss8 {
        margin-left: 8.5%;
    }

    .ss9 {
        margin-left: 7.5%;
    }

    .ss10 {
        margin-left: 7.2%;
    }

</style>

<%- include ("_footer") %>
