<%- include ("_header") %>
<br>

<style media="screen">
  .set-unidom-img{
    width:220px;
  }
</style>
<section>
  <div class="container">
    <div class="text-center">
      <h1 class="text-primary"><b>จัดการค่าน้ำ-ค่าไฟ</b></h1>
    </div>
    <hr>

    <div class="row">
      <%for (var i = 0; i < building.length; i++) {%>
        <div class="col-md-3 text-center mb-4">
          <a href="/we/list/<%=building[i].id%>"><img src="/unidome.PNG" alt="" class="set-unidom-img"></a>
          <h3><b><%=building[i].name%></b></h3>
        </div>
      <%}%>
    </div>
  </div>
</section>

<%- include ("_footer") %>
