
  <%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1 align = 'center'><b> ผู้ปกครอง </b></h1>
        <br><br>



<table class = "table table-bordered table-hover">
  <thead>
<tr class="table-active">


    <th>ลำดับ</th>
    <th>ชื่อนักศึกษา</th>
    <th>ชื่อ-นามสกุลบิดา</th>
    <th>ชื่อ-นามสกุลมารดา</th>
    <th>สถานภาพผู้ปกครอง</th>
    <th>ผู้อุปการะ</th>
    <th>กำหนด</th>
</tr>
  </thead>

<tbody>
  <% if(data){ %>
    <% for(var i=0; i < data.length; i++) {%>
    <tr>
      <td><%= (i+1) %> </td>

    <td><%= data[i].fname + "  " + "("+ data[i].lname + ")" %> </td>
    <td><%= data[i].nfather + " " +  data[i].lfather %> </td>
    <td><%= data[i].nmother + " " + data[i].lmother %> </td>
    <td><%= data[i].staname %> </td>
    <td><%= data[i].supname %> </td>

    <td>
      <a href="/family/report/<%= data[i].sid %>" class="btn btn-warning"> รายละเอียด </a>
    </td>
    </tr>
  <% } %>
    <% } %>
</tbody>
</table>
    </div>

    </div>
  </div>
<%- include('../_footer') %>
