<%- include ("../_header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">


                  <font color=#000000 style="font-size:40px">ลบข้อมูลผู้ปกครอง</font>
                    <form action="/family/del/<%= data.sid %>" method="POST">
                        <table class="mt-3">
                            <tbody>

                              <tr>
                              <td><h5><font color=#0000> ชื่อ-สกุลนักศึกษา </font></h5></td>
                              <td>
                                  <p>
                                      <font size="5"> :&nbsp;</font>
                                  </p>
                              </td>
                              <td><h5><font color=#0000> <%= data.fname + " "+ data.lname%> </font></h5></td>
                                </tr>


                              <tr>
                              <td><h5><font color=#0000> ชื่อ-สกุลบิดา </font></h5></td>
                              <td>
                                  <p>
                                      <font size="5"> :&nbsp;</font>
                                  </p>
                              </td>
                              <td><h5><font color=#0000> <%= data.nfather + " " + data.lfather%> </font></h5></td>
                                </tr>



                                  <tr>
                                  <td><h5><font color=#0000> ชื่อ-สกุลมารดา </font></h5></td>
                                  <td>
                                      <p>
                                          <font size="5"> :&nbsp;</font>
                                      </p>
                                  </td>
                                  <td><h5><font color=#0000> <%= data.nmother + " " + data.lmother %> </font></h5></td>
                                    </tr>


                                <tr>
                                <td><h5><font color=#0000> สถานภาพผู้ปกครอง </font></h5></td>
                                <td>
                                    <p>
                                        <font size="5"> :&nbsp;</font>
                                    </p>
                                </td>
                                <td><h5><font color=#0000> <%= data.staname%> </font></h5></td>
                                  </tr>

                                  <tr>
                                  <td><h5><font color=#0000> อาชีพบิดา </font></h5></td>
                                  <td>
                                      <p>
                                          <font size="5"> :&nbsp;</font>
                                      </p>
                                  </td>
                                  <td><h5><font color=#0000> <%= data.careerfather%> </font></h5></td>
                                    </tr>


                                    <tr>
                                    <td><h5><font color=#0000> อาชีพมารดา </font></h5></td>
                                    <td>
                                        <p>
                                            <font size="5"> :&nbsp;</font>
                                        </p>
                                    </td>
                                    <td><h5><font color=#0000> <%= data.careermother%> </font></h5></td>
                                      </tr>

                                      <tr>
                                      <td><h5><font color=#0000> มีพี่น้องทั้งหมด (คน) </font></h5></td>
                                      <td>
                                          <p>
                                              <font size="5"> :&nbsp;</font>
                                          </p>
                                      </td>
                                      <td><h5><font color=#0000> <%= data.brother%> </font></h5></td>
                                        </tr>

                                        <tr>
                                        <td><h5><font color=#0000> พี่น้องที่กำลังศึกษาอยู่ (คน) </font></h5></td>
                                        <td>
                                            <p>
                                                <font size="5"> :&nbsp;</font>
                                            </p>
                                        </td>
                                        <td><h5><font color=#0000> <%= data.studybro%> </font></h5></td>
                                          </tr>

                                          <tr>
                                          <td><h5><font color=#0000> พี่น้องที่ทำงาน (คน) </font></h5></td>
                                          <td>
                                              <p>
                                                  <font size="5"> :&nbsp;</font>
                                              </p>
                                          </td>
                                          <td><h5><font color=#0000> <%= data.careerbro%> </font></h5></td>
                                            </tr>

                                            <tr>
                                            <td><h5><font color=#0000> ผู้อุปการะ </font></h5></td>
                                            <td>
                                                <p>
                                                    <font size="5"> :&nbsp;</font>
                                                </p>
                                            </td>
                                            <td><h5><font color=#0000> <%= data.supname %> </font></h5></td>
                                              </tr>



                            </tbody>
                        </table>
                        <br>
                        <a href="/family" class="btn btn-primary"> กลับ </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include ("../_footer") %>
