<%-include('../_student_header')%>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8" style="margin-left: 18%;">
                <div class="card mt-5">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                          <img src="/logo.png" width="150" style="margin-left: 43%;">
                          <br><br>
                        <h1 align="center">การจองหอพักมหาวิทยาลัยราชภัฏเชียงราย</h1>
                        <hr><br><br>
                        <table class="table table-hover">
                            <thead>
                              <tr class="table-active">
                                <th>ชื่ออาคาร</th>
                                <th>จำนวนผู้เช่า</th>
                                <th>จำนวนห้องว่าง</th>
                                <th>สถานะหอพัก</th>
                                <th>ตัวเลือก</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i< build.length; i++){ %>
                                    <tr>
                                        <td><b class="btn btn-primary btn-lg"><%=build[i].name%></b></td>
                                        <td><b class="btn btn-secondary btn-lg"><%= build[i].peoplenumber %></b></td>
                                        <td>
                                            <% for(var j = 0 ; j<stbu.length;j++){ %>
                                              <% if(build[i].id == stbu[j].buid){ %>
                                                  <% if(build[i].peoplenumber - stbu[j].cuid > 0 ){ %>
                                                    <b class="btn btn-info btn-lg"><%= build[i].peoplenumber - stbu[j].cuid%></b>
                                                      <%  }else{ %>
                                                        <b class="btn btn-danger btn-lg"><%= build[i].peoplenumber - stbu[j].cuid %></b>
                                                      <%  } %>
                                                <%  } %>
                                            <% } %>
                                          </td>
                                          <td>
                                            <% for(var j = 0 ; j<stbu.length;j++){ %>
                                                <% if(build[i].id == stbu[j].buid){ %>
                                                    <% if(build[i].peoplenumber - stbu[j].cuid > 0 ){ %>
                                                        <b class="btn btn-success btn-lg">หอพักยังว่างอยู่</b>
                                                          <%  }else{ %>
                                                            <b class="btn btn-danger btn-lg">หอพักเต็ม</b>
                                                          <%  } %>
                                                  <%  } %>
                                              <% } %>
                                          </td>
                                          <td>
                                            <% for(var j = 0 ; j<stbu.length;j++){ %>
                                                <% if(build[i].id == stbu[j].buid){ %>
                                                    <% if(build[i].peoplenumber - stbu[j].cuid > 0 ){ %>
                                                        <a href="room/<%=build[i].id %>" class="btn btn-warning btn-lg"> เลือกหอพัก </a>
                                                        <%  }else{ %>
                                                            <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                                                        <%  } %>
                                               <%  } %>
                                              <% } %>
                                          </td>
                                      </tr>
                                <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>

        <!-- Modal -->
        <%if(!session.get){ %>
          <div class="modal fade" id="mymodal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                      <h4 align="center"><b><u>ระเบียบปฏิบัติทั่วไปสำหรับนักศึกษาหอพักของมหาวิทยาลัยราชภัฏเชียงราย</u></b></h4>
                      <br>
                      <hr>
                      <br>
                      <% if (rule){ %>
                          <% for(var i=0;i < rule.length;i++) { %>
                              <h5><%= rule[i].id%> <%= rule[i].list_name%>  </h5>
                      <% } %>
                      <% } %>
                  </div>
                  <div class="modal-footer">
                    <form class="" action="/" method="post">
                      <input type="checkbox" name="get" value="1" id="get">
                      <label for="get">ยอมรับข้อปฏิบัติของหอพัก</label>
                      <button type="submit" class="btn btn-primary">ส่ง</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <script>
                $(document).ready(function(){
                    $('#mymodal').modal('show');
                })
            </script>
        <%}%>

<%-include('../_footer')%>
