<%-include('../_student_header')%>

  <div class="container-fluid">
    <div class="col-md-10" style="margin: auto;">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <img src="/logo.png" width="150" style="margin-left: 43%;">
              <br><br>
              <h1 align="center">ใบสมัครเข้าอยู่หอพักของมหาวิทยาลัยราชภัฏเชียงราย</h1>
              <hr><br><br>
              <form class="form-group" action="/save/<%=buid %>/<%=rmid%>" method="post" enctype="multipart/form-data">
                <div style="margin-left: 43%;">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-8">
                        <div class="dropzone" id="divUp">
                          <div class="text-right">
                            <button type="button" class="close-pic"><span aria-hidden="true">&times;</span></button>
                          </div>
                          <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" width="100" ><br>
                          <span>คลิกเพื่ออัปโหลดรูปภาพ</span>
                          <input type="file" name="photo" class="upload-input" accept="image/*" id="imgInp" />
                        </div>
                        <br>
                        <span style="margin-left: 15%;">รูปถ่าย</span>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-borderless">
                  <tr>
                    <td style="width: 16%;">
                      1.ชื่อ :
                    </td>
                    <td>
                      <input type="text" name="firstname" class="form-control">
                    </td>
                    <td>
                      สกุล :
                    </td>
                    <td colspan="2">
                      <input type="text" name="lastname" class="form-control">
                    </td>
                    <td>
                      ชื่อเล่น :
                    </td>
                    <td colspan="2">
                      <input type="text" name="nickname" class="form-control">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      รหัสประจำตัวประชาชน :
                    </td>
                    <td colspan="2">
                      <div class="row">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1"> -
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1"> -
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1"> -
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1"> -
                        <input type="text" class="form-control text-center" name="numberid" value=""
                          style="width: 40px;" maxlength="1">
                      </div>
                    </td>
                    <td style="width: 5%;">
                      ชนเผ่า
                    </td>
                    <td style="width: 15%;">
                      <select class='form-control' name='tribe_id' required>
                        <option value=""> เลือกชนเผ่า </option>
                        <% if(tribe) { %>
                          <% for(var i=0; i<tribe.length; i++){ %>
                            <option value="<%= tribe[i].id %>">
                              <%= tribe[i].name %>
                            </option>
                            <%}%>
                              <%}%>
                      </select>
                    </td>
                    <td>
                      คณะ/สำนัก :
                    </td>
                    <td>
                      <select class='form-control' name='faculty_id' id="getFaculty" required>
                        <option value="0"> เลือกคณะวิชา </option>
                        <% if(faculty) { %>
                          <% for(var i=0; i<faculty.length; i++){ %>
                            <option value="<%= faculty[i].id %>">
                              <%= faculty[i].name %>
                            </option>
                            <%}%>
                              <%}%>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      สาขา :
                    </td>
                    <td>
                      <select class='form-control' name='branch_id' id="getBranch" required>
                        <option value=""> เลือกโปรแกรมวิชา </option>
                      </select>
                    </td>
                    <td style="width: 10%;">
                      รหัสนักศึกษา :
                    </td>
                    <td colspan="2">
                      <input type="text" name="studentid" class="form-control">
                    </td>
                    <td>
                      ชั้นปีที่ :
                    </td>
                    <td colspan="2">
                      <select class='form-control' name='chan' required>
                        <option value=""> เลือกชั้นปี </option>
                        <% if(classn) { %>
                          <% for(var i=0; i<classn.length; i++){ %>
                            <option value="<%= classn[i].id %>">
                              <%= classn[i].classid %>
                            </option>
                            <%}%>
                              <%}%>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      วัน/เดือน/ปีเกิด :
                    </td>
                    <td>
                      <input type="date" name="birthday" class="form-control" required>
                    </td>
                    <td>
                      กรุ๊ปเลือก :
                    </td>
                    <td>
                      <input type="text" name="bloodtype" class="form-control">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2.ภูมิลำเนา :
                    </td>
                    <td>
                      <input type="text" name="address" class="form-control">
                    </td>
                    <td>
                      จังหวัด :
                    </td>
                    <td colspan="2">
                      <input list="provincesOption" type="text" name="province" class="form-control" id="getProvinces"
                        placeholder="กรุณากรอก/เลือกจังหวัด">
                      <datalist class="" id="provincesOption">
                        <%for(var i=0; i < provinces.length; i++){ %>
                          <option data-id="<%=provinces[i].id%>" value="<%=provinces[i].name_th%>"></option>
                          <%}%>
                      </datalist>
                    </td>
                    <td>
                      อำเภอ :
                    </td>
                    <td>
                      <input list="amphuresOption" type="text" name="amphures" class="form-control" id="getAmphures"
                        placeholder="กรุณากรอก/เลือกอำเภอ">
                      <datalist class="" id="amphuresOption">
                        <option value=""></option>
                      </datalist>
                    </td>
                  <tr>
                    <td>
                      ตำบล :
                    </td>
                    <td>
                      <input list="districtsOption" type="text" name="districts" class="form-control" id="getDistricts"
                        placeholder="กรุณากรอก/เลือกตำบล">
                      <datalist class="" id="districtsOption">
                        <option value=""></option>
                      </datalist>
                    </td>
                    <td style="width: 10%;">
                      รหัสไปรษณีย์ :
                    </td>
                    <td colspan="2">
                      <input type="text" name="pos" class="form-control" id="getZipcode">
                    </td>
                    <td>
                      โทรศัพท์:
                    </td>
                    <td>
                      <input type="text" name="phone" class="form-control">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      บิดาชื่อ :
                    </td>
                    <td>
                      <input type="text" name="namefather" class="form-control">
                    </td>
                    <td>
                      อายุ :
                    </td>
                    <td>
                      <input type="text" name="agefather" class="form-control">
                    </td>
                    <td>
                      อาชีพ :
                    </td>
                    <td>
                      <input type="text" name="jobfather" class="form-control">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      มารดาชื่อ :
                    </td>
                    <td>
                      <input type="text" name="namemother" class="form-control">
                    </td>
                    <td>
                      อายุ :
                    </td>
                    <td>
                      <input type="text" name="agemother" class="form-control">
                    </td>
                    <td>
                      อาชีพ :
                    </td>
                    <td>
                      <input type="text" name="jobmother" class="form-control">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4. สถานภาพสมรสของบิดา-มารดา
                    </td>
                    <td>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="statusparent" value="อยู่ด้วยกัน"
                            onclick="checkparent()">
                          อยู่ด้วยกัน
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="statusparent" value="อย่าร้าง"
                            onclick="checkparent()">
                          อย่าร้าง
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="statusparent" id="parent" value="อื่นๆ"
                            onclick="checkparent()">
                          อื่นๆ
                        </label>
                      </div>
                    </td>
                    <td>
                      <input type="text" name="statusother" id="parentinput" class="form-control">
                    </td>
                  <tr>
                    <td>
                      มีพี่น้องทั้งสิ้น จำนวน
                    </td>
                    <td>
                      <input type="text" name="brothernumber" class="form-control">
                    </td>
                    <td style="width: 10%;">
                      เรียนหนังสือ จำนวน
                    </td>
                    <td colspan="2">
                      <input type="text" name="studynumber" class="form-control">
                    </td>
                    <td>
                      ประกอบอาชีพ จำนวน
                    </td>
                    <td>
                      <input type="text" name="jobnumber" class="form-control">
                    </td>
                  <tr>
                    <td>
                      5.ผู้อุปการะในการส่งเรียนหนังสือ
                    </td>
                    <td>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="uprakara" value="บิดา"
                            onclick="checkInput()">
                          บิดา
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="uprakara" value="มารดา"
                            onclick="checkInput()">
                          มารดา
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="uprakara" value=" บิดา-มารดา"
                            onclick="checkInput()">
                          บิดา-มารดา
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="uprakara" id="other" value="อื่นๆ"
                            onclick="checkInput()">
                          อื่นๆ
                        </label>
                      </div>
                    </td>
                    <td colspan="2">
                      <input type="text" name="uprakaraother" class="form-control" id="otherInput">
                    </td>
                  </tr>
                  </tr>
                  </tr>
                  <tr>
                    <td>
                      6.กรณีเกิดเหตุฉุกเฉิน ผู้ที่สามารถติดต่อได้
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ที่อยู่ :
                    </td>
                    <td>
                      <input type="text" name="address1" class="form-control">
                    </td>
                    <td>
                      จังหวัด
                    </td>
                    <td colspan="2">
                      <input list="contactProvincesOption" type="text" name="province1" class="form-control"
                        id="getContactProvinces" placeholder="กรุณากรอก/เลือกจังหวัด">
                      <datalist class="" id="contactProvincesOption">
                        <%for(var i=0;i < provinces.length; i++){ %>
                          <option data-id="<%=provinces[i].id%>" value="<%=provinces[i].name_th%>"></option>
                          <%}%>
                      </datalist>
                    </td>
                    <td>
                      อำเภอ
                    </td>
                    <td colspan="2">
                      <input list="contactAmphuresOption" type="text" name="amphures1" class="form-control"
                        id="getContactAmphures" placeholder="กรุณากรอก/เลือกอำเภอ">
                      <datalist class="" id="contactAmphuresOption">
                        <option value=""></option>
                      </datalist>
                    </td>
                  <tr>
                    <td>
                      ตำบล
                    </td>
                    <td>
                      <input list="contactDistrictsOption" type="text" name="districts1" class="form-control"
                        id="getContactDistricts" placeholder="กรุณากรอก/เลือกตำบล">
                      <datalist class="" id="contactDistrictsOption">
                        <option value=""></option>
                      </datalist>
                    </td>
                    <td>
                      รหัสไปรษณีย์
                    </td>
                    <td colspan="2">
                      <input type="text" name="pos1" class="form-control" id="getContactZipcode">
                    </td>
                  </tr>
                  </tr>
                  <tr>
                    <td>
                      7.ความสามารถพิเศษ
                    </td>
                    <td>
                      <input type="text" name="talent" class="form-control">
                    </td>
                    <td>
                      ทุนการศึกษา
                    </td>
                    <td colspan="2">
                      <select class='form-control' name='bursary_id' required>
                        <option value=""> เลือกทุน </option>
                        <% if(bursary) { %>
                          <% for(var i=0; i<bursary.length; i++){ %>
                            <option value="<%= bursary[i].id %>">
                              <%= bursary[i].name %>
                            </option>
                            <%}%>
                              <%}%>
                      </select>
                    </td>
                    <td>Facebook</td>
                    <td><input type="text" name="facebook" class="form-control" required></td>
                  </tr>
                </table>
                <hr>
                <button type="submit" class="btn btn-success">ตกลง</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/index.js" charset="utf-8"></script>

  <%-include('../_footer')%>