<%-include('../_student_header')%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" style="margin-left: 18%;">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <img src="/logo.png" width="150" style="margin-left: 43%;">
                <br><br>
                <h1 align="center">การจองหอพักมหาวิทยาลัยราชภัฏเชียงราย</h1>
                <hr><br><br>
                <h2>
                  <p align='center' class='table-primary'>
                    <font size=20><b>หอพัก <%=bu[0].name%></b></font>
                  </p>
                </h2>
                <table class="table table-hover">
                  <thead>
                    <tr class="table-active">
                      <th>หมายเลขห้อง</th>
                      <th>จำนวนผู้เช่า</th>
                      <th>สถานะห้อง</th>
                      <th>จำนวนที่ว่าง</th>
                      <th>ราคา</th>
                      <th>ตัวเลือก</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0 ; i<rm.length;i++){ %>
                      <tr>
                        <td><b class="btn btn-primary btn-lg">
                            <%= rm[i].number %>
                          </b></td>
                        <td> <b class="btn btn-secondary btn-lg">
                            <%= rm[i].peoplenumber %>
                          </b></td>
                        <td>
                          <% for(var j=0; j<strm.length;j++){ %>
                            <% if(rm[i].id==strm[j].rmid){ %>
                              <% if(rm[i].peoplenumber - strm[j].count> 0){ %>
                                <b class="btn btn-success btn-lg"> ห้องพักยังว่างอยู่ </b>
                                <% }else { %>
                                  <b class="btn btn-danger btn-lg"> ห้องพักเต็มแล้ว </b>
                                  <% } %>
                                    <% } %>
                                      <% } %>
                        </td>
                        <td>
                          <% for(var j=0; j<strm.length;j++){ %>
                            <% if(rm[i].id==strm[j].rmid){ %>
                              <% if(rm[i].peoplenumber - strm[j].count> 0){ %>
                                <b class="btn btn-info btn-lg">
                                  <%= rm[i].peoplenumber - strm[j].count %>
                                </b>
                                <% }else { %>
                                  <b class="btn btn-danger btn-lg">
                                    <%= rm[i].peoplenumber - strm[j].count %>
                                  </b>
                                  <% } %>
                                    <% } %>
                                      <% } %>
                        </td>
                        <td>
                          <b class="btn btn-primary btn-lg">
                            <%= paybuild[0].price %>
                          </b>
                        </td>
                        <td>
                          <% for(var j=0; j<strm.length;j++){ %>
                            <% if(rm[i].id==strm[j].rmid){ %>
                              <% if(rm[i].peoplenumber - strm[j].count> 0){ %>
                                <a href="/index/<%=bu[0].id%>/<%=rm[i].id%>" class="btn btn-warning btn-lg">
                                  เลือกห้องพัก </a>
                                <% }else { %>
                                  <b class="btn btn-danger btn-lg"> ไม่สามารถเลือกได้ </b>
                                  <% } %>
                                    <% } %>
                                      <% } %>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%-include('../_footer')%>