<html>

<body>

    <br></br>
    <h1 align="center"> ใบแจ้งชำระเงินทั้งหมด </h1>

    <table>
        <tr>
            <th class="sx">
                ชื่อตึก
            </th>
             <th class="sx">
                เลขที่ห้อง
            </th>
             <th class="sx">
                เดือน/ปี
            </th>
             <th class="sx">
                ค่าไฟครั้งหลัง
            </th>
             <th class="sx">
                ค่าไฟครั้งก่อน
            </th>
             <th class="sx">
                หน่วย
            </th>
             <th class="sx">
                ราคา
            </th>
             <th class="sx">
                รักษามิเตอร์ไฟ
            </th>
             <th class="sx">
                ยอดรวมค่าไฟ
            </th>
             <th class="sx">
                ค่าน้ำครั้งก่อน
            </th>
             <th class="sx">
                ค่าน้ำครั้งหลัง
            </th>
             <th class="sx">
                หน่วย
            </th>
             <th class="sx">
                ราคา
            </th>
             <th class="sx">
                รักษามิเตอร์น้ำ
            </th>
             <th class="sx">
                ยอดรวมค่าน้ำ
            </th>
             <th class="sx">
                ยอดรวมทั้งหมด
            </th>
             <th class="sx">
                เซ็นชื่อจ่าย
            </th>
             <th class="sx">
                เลขบัตรประชาชน
            </th>


        </tr>

        <tbody>
            {{#each ew}}
            <tr>
                <td> {{buname}}</td>
                <td> {{number}} </td>
                <td> {{day}}</td>
                <td> {{oelec}}</td>
                <td> {{nelec}} </td>
                <td> {{selec}}</td>
                <td> {{ecost}} </td>
                <td> {{emeter}} </td>
                <td>{{unit}} </td>
                 <td> {{owater}}</td>
                <td> {{nwater}} </td>
                <td> {{selec1}}</td>
                <td> {{wcost}} </td>
                <td> {{wmeter}} </td>
                <td>{{unit1}} </td>
                <td>{{unit2}}</td>
                <td></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 98%;
        margin-left: 1%;
        margin-top: 5%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .sx{
        font-size: 85% ;
    }
</style>

</html>