<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                        <form action="/branch/update/<%= data1.id %>" method="POST">
                            <h3 align="center"> แก้ไขข้อมูลโปรแกรมวิชา </h3>
                            <div class="form-group mt-3"><h5> ชื่อโปรแกรมวิชา </h5>

                                <input type="text" name="name" value="<%= data1.name%>" placeholder="name"
                            class="form-control">
                            </div>

                            <a href="#">คณะวิชา</a>
                            <select class='form-control' name='faculty_id'>
                                           <option value="">กรุณาเลือก</option>
                                           <% if(data){ %>
                                           <% for(var i = 0 ; i < data.length ; i++){%>
                                           <option value="<%= data[i].id %>"
                                             <% if(data[i].id==data1.faculty_id){ %> selected
                                               <% }%>>
                                               <%= data[i].name %>
                                           </option>
                                           <% }%>
                                           <% } %>
                                       </select>
               <br><br>

                        <a href="/branch" class="btn btn-primary"> กลับ </a>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
<%- include ("../_footer") %>
