<%- include ("../_header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">


                  <font color=#000000 style="font-size:40px">ลบข้อมูลโปรแกรมวิชา</font>
                    <form action="/branch/del/<%= data.id %>" method="POST">
                        <table class="mt-3">
                            <tbody>

                              <tr>
                              <td><h5><font color=#0000> ชื่อโปรแกรมวิชา </font></h5></td>
                              <td>
                                  <p>
                                      <font size="5"> :&nbsp;</font>
                                  </p>
                              </td>
                              <td><h5><font color=#0000> <%= data.name%> </font></h5></td>
                                </tr>

                                <tr>
                                <td><h5><font color=#0000> คณะวิชา </font></h5></td>
                                <td>
                                    <p>
                                        <font size="5"> :&nbsp;</font>
                                    </p>
                                </td>
                                <td><h5><font color=#0000> <%= data1.name%> </font></h5></td>
                                  </tr>

                            </tbody>
                        </table>
                        <br>
                        <a href="/branch" class="btn btn-primary"> กลับ </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/branch/delete/<%= data.id%>" class="btn btn-danger"> ยืนยัน </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include ("../_footer") %>
