<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 align="center"> เพิ่มข้อมูลโปรแกรมวิชา </h3>

                        <form action="/branch/save/" method="POST">
                        <div class="form-group mt-3"><h5> ชื่อโปรแกรมวิชา </h5>
                            <input type="text" name="name" placeholder="name"
                        class="form-control"  required>
                        </div>

                        <a href="#">คณะวิชา</a>
           <select class="form-control" name="faculty_id"  required>
             <option value=""> เลือก </option>
                <% if(data1) { %>
                  <% for(var i=0; i<data1.length; i++){ %>
                    <option value="<%= data1[i].id %>">
                      <%= data1[i].name %>
                    </option>
                  <%}%>
                <%}%>
          </select>

           <br><br>

                        <a href="/branch" class="btn btn-primary"> กลับ </a>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                </div>
            </div>
        </div>
</div>
<%- include ("../_footer") %>
