<html>

<body>

    <br></br>
    <h1 align="center"> แยกประเภทชนเผ่า </h1>

    <table>
        <tr>
            <th>
                ชื่อชนเผ่า
            </th>
            <th>
                รหัสนักศึกษา
            </th>
            <th width=25%>
                ชื่อ-สกุล
            </th>
            <th>
                โปรแกรมวิชา
            </th>
            <th>
                ชื่อตึก
            </th>
            <th>
                เลขห้องพัก
            </th>

        </tr>

        <tbody>
            {{#each tanantjsreport}}
            <tr>
                <td> {{tbname}}</td>
                <td> {{studentid}} </td>
                <td> {{firstname}}&nbsp;{{lastname}}</td>
                <td> {{namebn}} </td>
                <td> {{namebu}} </td>
                <td> {{number}} </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 98%;
        margin-left: 1%;
        margin-top: 5%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

</html>