<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

          <form action="/student/update/<%= data.id %>" method="POST">


            <h3 align="center"> แก้ไขข้อมูลนักศึกษา </h3>



            <a href="#"> ชื่อตึก </a>
            <select class='form-control' name='building_id'>
              <% if(data3){ %>
              <% for(var i = 0 ; i < data3.length ; i++){%>
              <option value="<%= data3[i].id %>" <% if(data3[i].id == data.building_id){ %> selected <% }%>>
                <%= data3[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>


            <a href="#"> เลขห้องพัก </a>
            <select class='form-control' name='room_id'>
              <% if(data2){ %>
              <% for(var i = 0 ; i < data2.length ; i++){%>
              <option value="<%= data2[i].id %>" <% if(data2[i].id == data.room_id){ %> selected <% }%>>
                <%= data2[i].number %>
              </option>
              <% }%>
              <% } %>
            </select>

            <div class="form-group mt-3">
              <h5> วันย้ายเข้า </h5>

              <input type="DATE" name="datein" value="<%= data4.datein1%>" class="form-control">
            </div>

            <div class="form-group mt-3">
              <h5> ชื่อ </h5>

              <input type="text" name="firstname" value="<%= data.firstname%>" class="form-control">
            </div>

            <div class="form-group mt-3">
              <h5> นามสกุล </h5>

              <input type="text" name="lastname" value="<%= data.lastname%>" class="form-control">
            </div>

            <div class="form-group mt-3">
              <h5> ชื่อเล่น </h5>

              <input type="text" name="nickname" value="<%= data.nickname%>" class="form-control">
            </div>

            <div class="form-group mt-3">
              <h5> รหัสบัตรประจำตัวประชาชน </h5>

              <input type="text" name="numberid" value="<%= data.numberid%>" class="form-control">
            </div>



            <a href="#">คณะวิชา</a>
            <select class='form-control' name='faculty_id'>
              <% if(data10){ %>
              <% for(var i = 0 ; i < data10.length ; i++){%>
              <option value="<%= data10[i].id %>"
                <% if(data10[i].id == data.faculty_id){ %> selected <% }%>>
                <%= data10[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>



            <a href="#">โปรแกรมวิชา</a>
            <select class='form-control' name='branch_id'>
              <% if(data1){ %>
              <% for(var i = 0 ; i < data1.length ; i++){%>
              <option value="<%= data1[i].id %>" <% if(data1[i].id == data.branch_id){ %> selected <% }%>>
                <%= data1[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>



            <a href="#">ชั้นปี</a>
            <select class='form-control' name='classn_id'>
              <% if(data9){ %>
              <% for(var i = 0 ; i < data9.length ; i++){%>
              <option value="<%= data9[i].id %>" <% if(data9[i].id == data.classn_id){ %> selected <% }%>>
                <%= data9[i].nclass %>
              </option>
              <% }%>
              <% } %>
            </select>

            <div class="form-group mt-3">
              <h5> รหัสนักศึกษา </h5>

              <input type="text" name="studentid" value="<%= data.studentid%>" class="form-control">
            </div>



            <div class="form-group mt-3">
              <h5> วัน/เดือน/ปีเกิด </h5>

              <input type="date" name="birthday" value="<%=data4.birthday1%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> กรุ๊ปเลือด </h5>

              <input type="text" name="bloodtype" value="<%= data.bloodtype%>" class="form-control">
            </div>

            <div class="form-group mt-3">
              <h5> อายุ </h5>

              <input type="text" name="age" value="<%= data.age%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> เบอร์ติดต่อ </h5>

              <input type="text" name="phone" value="<%= data.phone%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> ความสามารถพิเศษ </h5>

              <input type="text" name="talent" value="<%= data.talent%>" class="form-control">
            </div>



            <a href="#">ชนเผ่า</a>
            <select class='form-control' name='tribe_id'>
              <% if(data7){ %>
              <% for(var i = 0 ; i < data7.length ; i++){%>
              <option value="<%= data7[i].id %>" <% if(data7[i].id == data.tribe_id){ %> selected <% }%>>
                <%= data7[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>


            <a href="#"> ทุนการศึกษา </a>
            <select class='form-control' name='bursary_id'>
              <% if(data6){ %>
              <% for(var i = 0 ; i < data6.length ; i++){%>
              <option value="<%= data6[i].id %>" <% if(data6[i].id == data.bursary_id){ %> selected <% }%>>
                <%= data6[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>


            <div class="form-group mt-3">
              <h5> บ้านเลขที่ </h5>

              <input type="text" name="numberhome" value="<%= data.numberhome%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> หมู่ที่ </h5>

              <input type="text" name="moo" value="<%= data.moo%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> ตำบล </h5>

              <input type="text" name="tombon" value="<%= data.tombon%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> อำเภอ </h5>

              <input type="text" name="aumper" value="<%= data.aumper%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> จังหวัด </h5>

              <input type="text" name="province" value="<%= data.province%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> รหัสไปรษณีย์ </h5>

              <input type="text" name="postalcode" value="<%= data.postalcode%>" class="form-control">
            </div>

            <div class="form-group mt-3">
              <h5> ชื่อบิดา </h5>

              <input type="text" name="nfather" value="<%= data.nfather%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> นามสกุลบิดา </h5>

              <input type="text" name="lfather" value="<%= data.lfather%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> ชื่อมารดา </h5>

              <input type="text" name="nmother" value="<%= data.nmother%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> นามสกุลมารดา </h5>

              <input type="text" name="lmother" value="<%= data.lmother%>" class="form-control">
            </div>


            <a href="#"> สถานภาพผู้ปกครอง </a>
            <select class='form-control' name='status_id'>
              <% if(data5){ %>
              <% for(var i = 0 ; i < data5.length ; i++){%>
              <option value="<%= data5[i].id %>" <% if(data5[i].id == data.status_id){ %> selected <% }%>>
                <%= data5[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>


            <div class="form-group mt-3">
              <h5> อาชีพบิดา </h5>

              <input type="text" name="careerfather" value="<%= data.careerfather%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> อาชีพมารดา </h5>

              <input type="text" name="careermother" value="<%= data.careermother%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> พี่น้องทั้งหมด (คน) </h5>

              <input type="text" name="brother" value="<%= data.brother%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> พี่น้องกำลังศึกษาอยู่ (คน) </h5>

              <input type="text" name="studybro" value="<%= data.studybro%>" class="form-control">
            </div>


            <div class="form-group mt-3">
              <h5> พี่น้องที่ทำงาน (คน) </h5>

              <input type="text" name="careerbro" value="<%= data.careerbro%>" class="form-control">
            </div>


            <a href="#"> ผู้อุปการะ </a>
            <select class='form-control' name='support_id'>
              <% if(data8){ %>
              <% for(var i = 0 ; i < data8.length ; i++){%>
              <option value="<%= data8[i].id %>" <% if(data8[i].id == data.support_id){ %> selected <% }%>>
                <%= data8[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>








            <br><br>

            <a href="/student" class="btn btn-primary"> กลับ </a>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <button type="submit" class="btn btn-success">ยืนยัน</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../_footer") %>
