<%- include ("../_header") %>
<div class="container mt-1">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center">ข้อมูลนักศึกษา</p>
          </h3>
          <hr>
          <h2>
            <p align='center' class='table-primary'><font size=20><b>หอพัก <%=bu[0].name%></b></font></p>
          </h2>
          <br><br>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="ค้นหาจากรายชื่อ" title="Type in a name" class="form-control input-sm ee1">
          <table class=" table table-bordered table-hover" id="myTable">
            <thead>
              <tr class="table-active">
                <th>ลำดับ</th>
                <th>เลขห้องพัก</th>
                <th>ชื่อ-นามสกุล</th>
                <th>วัน/เดือน/ปีเกิด</th>
                <th>คณะวิชา</th>
                <th>เบอร์ติดต่อ</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <% if(student){ %>
                <% for(var i=0; i < student.length; i++) { %>
              <tr>
                  <td><%= i + 1%></td>
                  <td><%= student[i].roomnumber %></td>
                  <td><%= student[i].firstname%>  <%=student[i].lastname %></td>
                  <td><%= student[i].stbirthday %></td>
                  <td><%= student[i].faname %></td>
                  <td><%= student[i].phone %></td>
                  <td>
                    <a href="/student/movein/<%= buid %>/<%= student[i].id %>" class="btn btn-success"> คำร้องขอย้าย </a>
                    <a href="/student/moveout/<%= buid %>/<%= student[i].id %>" class="btn btn-danger"> คำร้องย้ายออก </a>
                    <a href="/tanantroom/promise/<%=student[i].id %>" class="btn btn-primary"> สัญญา </a>
                    <a href="/tanantroom/report/<%= student[i].id%>" class="btn btn-warning"> รายละเอียดข้อมูล </a>
                 
                  </td>
              </tr>
             <% } %>
             <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

<style>
  #myInput {
          display: inline-block;
          width: 15%;
          margin-left: 77%;
            width: 250px;
            height: 35px;
            border: 1px solid black;
          
        }
</style>
  <%- include ("../_footer") %>
