<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 align="center"> เพิ่มข้อมูลนักศึกษา </h3>

          <form action="/student/save/<%=tanantroomid%>" method="POST">


            <input type="hidden" name="building_id" value="<%=idbu%>">
            <input type="hidden" name="room_id" value="<%=idrm%>">

            <div class="form-group mt-3">
              <h5> วันที่ย้ายเข้า </h5>
              <input type="DATE" name="datein" placeholder="name" class="form-control">
            </div>



            <div class="form-group mt-3">
              <h5> ชื่อ </h5>
              <% if (data) {%>
              <input type="text" name="firstname" placeholder="name" value="<%= data.firstname %>" class="form-control" required>
              <%  }else {%>
              <input type="text" name="firstname" placeholder="name" class="form-control" required>
              <%  }%>


            </div>

            <div class="form-group mt-3">
              <h5> นามสกุล </h5>
              <% if (data) {%>
              <input type="text" name="lastname" placeholder="name" value="<%= data.lastname %>" class="form-control" required>
              <%  }else {%>
              <input type="text" name="lastname" placeholder="name" class="form-control" required>
              <%  }%>


            </div>

            <div class="form-group mt-3">
              <h5> ชื่อเล่น </h5>
              <% if (data) {%>
              <input type="text" name="nickname" placeholder="name" value="<%= data.nickname %>" class="form-control" required>
              <%  }else {%>
              <input type="text" name="nickname" placeholder="name" class="form-control" required>
              <%  }%>
            </div>



            <div class="form-group mt-3">
              <h5> รหัสบัตรประจำตัวประชาชน </h5>
              <% if (data) {%>
              <input type="text" name="numberid" placeholder="name" value="<%= data.numberid %>" class="form-control" required>
              <%  }else {%>
              <input type="text" name="numberid" placeholder="name" class="form-control" required>
              <%  }%>
            </div>

            <a href="#">คณะวิชา</a>
            <% if (data) {%>
            <select class='form-control' name='faculty_id'>
              <% if(data8){ %>
              <% for(var i = 0 ; i < data8.length ; i++){%>
              <option value="<%= data8[i].id %>" <% if(data8[i].id == data.faculty_id){ %> selected <% }%>>
                <%= data8[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>

            <%}else {%>
            <select class="form-control" name="faculty_id" required>
              <option value=""> เลือก </option>
              <% if(data8) { %>
              <% for(var i=0; i<data8.length; i++){ %>
              <option value="<%= data8[i].id %>">
                <%= data8[i].name %>
              </option>
              <%}%>
                  <%}%>
            </select>
            <%}%>



            <a href="#">โปรแกรมวิชา</a>
            <% if (data) {%>
            <select class='form-control' name='branch_id'>
              <% if(data1){ %>
              <% for(var i = 0 ; i < data1.length ; i++){%>
              <option value="<%= data1[i].id %>" <% if(data1[i].id == data.branch_id){ %> selected <% }%>>
                <%= data1[i].name %>
              </option>
              <% }%>
              <% } %>
            </select>

            <%}else {%>
            <select class="form-control" name="branch_id" required>
              <option value=""> เลือก </option>
              <% if(data1) { %>
              <% for(var i=0; i<data1.length; i++){ %>
              <option value="<%= data1[i].id %>">
                <%= data1[i].name %>
              </option>
              <%}%>
                  <%}%>
            </select>
            <%}%>

            <a href="#">ชั้นปี</a>
            <% if (data) {%>
            <select class='form-control' name='classn_id'>
              <% if(data9){ %>
              <% for(var i = 0 ; i < data9.length ; i++){%>
              <option value="<%= data9[i].id %>" <% if(data9[i].id == data.classn_id){ %> selected <% }%>>
                <%= data9[i].nclass %>
              </option>
              <% }%>
              <% } %>
            </select>

            <%}else {%>
            <select class="form-control" name="classn_id" required>
              <option value=""> เลือก </option>
              <% if(data9) { %>
              <% for(var i=0; i<data9.length; i++){ %>
              <option value="<%= data9[i].id %>">
                <%= data9[i].nclass %>
              </option>
              <%}%>
                  <%}%>
            </select>
            <%}%>


            <div class="form-group mt-3">
              <h5> รหัสนักศึกษา </h5>
              <% if (data) {%>
            <input type="text" name="studentid" placeholder="name" value="<%= data.studentid %>" class="form-control" required>

            <%  }else {%>
            <input type="text" name="studentid" placeholder="name" class="form-control" required>
            <%  }%>


        </div>



        <div class="form-group mt-3">
          <h5> วัน/เดือน/ปีเกิด </h5>
          <% if (data) {%>
          <input type="DATE" name="birthday" placeholder="name" value="<%= data.birthday %>" class="form-control" required>

          <%  }else {%>
          <input type="DATE" name="birthday" placeholder="name" class="form-control" required>
          <%  }%>
        </div>

        <div class="form-group mt-3">
          <h5> กรุ๊ปเลือด </h5>
          <% if (data) {%>
          <input type="text" name="bloodtype" placeholder="name" value="<%= data.bloodtype %>" class="form-control" required>

          <%  }else {%>
          <input type="text" name="bloodtype" placeholder="name" class="form-control" required>
          <%  }%>
        </div>

        <div class="form-group mt-3">
          <h5> อายุ </h5>
          <% if (data) {%>
          <input type="text" name="age" placeholder="name" value="<%= data.age %>" class="form-control" required>

          <%  }else {%>
          <input type="text" name="age" placeholder="name" class="form-control" required>
          <%  }%>
        </div>

        <div class="form-group mt-3">
          <h5> เบอร์ติดต่อ </h5>
          <% if (data) {%>
          <input type="text" name="phone" placeholder="name" value="<%= data.phone %>" class="form-control" required>

          <%  }else {%>
          <input type="text" name="phone" placeholder="name" class="form-control" required>
          <%  }%>
        </div>


        <div class="form-group mt-3">
          <h5> ความสามารถพิเศษ </h5>
          <% if (data) {%>
          <input type="text" name="talent" placeholder="name" value="<%= data.talent %>" class="form-control" required>

          <%  }else {%>
          <input type="text" name="talent" placeholder="name" class="form-control" required>
          <%  }%>
        </div>


        <a href="#"> ชนเผ่า </a>
        <% if (data) {%>
        <select class='form-control' name='tribe_id'>
          <% if(data3){ %>
          <% for(var i = 0 ; i < data3.length ; i++){%>
          <option value="<%= data3[i].id %>" <% if(data3[i].id == data.tribe_id){ %> selected <% }%>>
            <%= data3[i].name %>
          </option>
          <% }%>
          <% } %>
        </select>

        <%}else {%>
        <select class="form-control" name="tribe_id" required>
          <option value=""> เลือก </option>
          <% if(data3) { %>
          <% for(var i=0; i<data3.length; i++){ %>
          <option value="<%= data3[i].id %>">
            <%= data3[i].name %>
          </option>
          <%}%>
                  <%}%>
        </select>
        <%}%>



            <a href="#"> ทุนการศึกษา </a>
            <% if (data) {%>
        <select class='form-control' name='bursary_id'>
          <% if(data2){ %>
          <% for(var i = 0 ; i < data2.length ; i++){%>
          <option value="<%= data2[i].id %>" <% if(data2[i].id == data.bursary_id){ %> selected <% }%>>
            <%= data2[i].name %>
          </option>
          <% }%>
          <% } %>
        </select>

        <%}else {%>
        <select class="form-control" name="bursary_id" required>
          <option value=""> เลือก </option>
          <% if(data2) { %>
          <% for(var i=0; i<data2.length; i++){ %>
          <option value="<%= data2[i].id %>">
            <%= data2[i].name %>
          </option>
          <%}%>
                  <%}%>
        </select>
        <%}%>



            <div class="form-group mt-3">
              <h5> บ้านเลขที่ </h5>
              <% if (data) {%>
        <input type="text" name="numberhome" placeholder="name" value="<%= data.numberhome %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="numberhome" placeholder="name" class="form-control" required>
        <%  }%>
      </div>

      <div class="form-group mt-3">
        <h5> หมู่ </h5>
        <% if (data) {%>
        <input type="text" name="moo" placeholder="name" value="<%= data.moo %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="moo" placeholder="name" class="form-control" required>
        <%  }%>
      </div>


      <div class="form-group mt-3">
        <h5> ตำบล </h5>
        <% if (data) {%>
        <input type="text" name="tombon" placeholder="name" value="<%= data.tombon %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="tombon" placeholder="name" class="form-control" required>
        <%  }%>
      </div>


      <div class="form-group mt-3">
        <h5> อำเภอ </h5>
        <% if (data) {%>
        <input type="text" name="aumper" placeholder="name" value="<%= data.aumper %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="aumper" placeholder="name" class="form-control" required>
        <%  }%>
      </div>

      <div class="form-group mt-3">
        <h5> จังหวัด </h5>
        <% if (data) {%>
        <input type="text" name="province" placeholder="name" value="<%= data.province %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="province" placeholder="name" class="form-control" required>
        <%  }%>
      </div>


      <div class="form-group mt-3">
        <h5> รหัสไปรษณีย์ </h5>
        <% if (data) {%>
        <input type="text" name="postalcode" placeholder="name" value="<%= data.postalcode %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="postalcode" placeholder="name" class="form-control" required>
        <%  }%>
      </div>


      <div class="form-group mt-3">
        <h5> ชื่อบิดา </h5>
        <% if (data) {%>
        <input type="text" name="nfather" placeholder="name" value="<%= data.nfather %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="nfather" placeholder="name" class="form-control" required>
        <%  }%>
      </div>

      <div class="form-group mt-3">
        <h5> นามสกุลบิดา </h5>
        <% if (data) {%>
        <input type="text" name="lfather" placeholder="name" value="<%= data.lfather %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="lfather" placeholder="name" class="form-control" required>
        <%  }%>
      </div>

      <div class="form-group mt-3">
        <h5> ชื่อมารดา </h5>
        <% if (data) {%>
        <input type="text" name="nmother" placeholder="name" value="<%= data.nmother %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="nmother" placeholder="name" class="form-control" required>
        <%  }%>
      </div>

      <div class="form-group mt-3">
        <h5> นามสกุลมารดา </h5>
        <% if (data) {%>
        <input type="text" name="lmother" placeholder="name" value="<%= data.lmother %>" class="form-control" required>

        <%  }else {%>
        <input type="text" name="lmother" placeholder="name" class="form-control" required>
        <%  }%>
      </div>

      <a href="#">สถานภาพผู้ปกครอง</a>
      <% if (data) {%>
      <select class='form-control' name='status_id'>
        <% if(data4){ %>
        <% for(var i = 0 ; i < data4.length ; i++){%>
        <option value="<%= data4[i].id %>" <% if(data4[i].id == data.status_id){ %> selected <% }%>>
          <%= data4[i].name %>
        </option>
        <% }%>
        <% } %>
      </select>

      <%}else {%>
      <select class="form-control" name="status_id" required>
        <option value=""> เลือก </option>
        <% if(data4) { %>
        <% for(var i=0; i<data4.length; i++){ %>
        <option value="<%= data4[i].id %>">
          <%= data4[i].name %>
        </option>
        <%}%>
                  <%}%>
      </select>
      <%}%>

            <div class="form-group mt-3">
              <h5> อาชีพบิดา </h5>
              <% if (data) {%>
      <input type="text" name="careerfather" placeholder="name" value="<%= data.careerfather %>" class="form-control" required>

      <%  }else {%>
      <input type="text" name="careerfather" placeholder="name" class="form-control" required>
      <%  }%>
    </div>

    <div class="form-group mt-3">
      <h5> อาชีพมารดา </h5>
      <% if (data) {%>
      <input type="text" name="careermother" placeholder="name" value="<%= data.careermother %>" class="form-control" required>

      <%  }else {%>
      <input type="text" name="careermother" placeholder="name" class="form-control" required>
      <%  }%>
    </div>
    <div class="form-group mt-3">
      <h5> พี่น้องทั้งหมด (คน) </h5>
      <% if (data) {%>
      <input type="text" name="brother" placeholder="name" value="<%= data.brother %>" class="form-control" required>

      <%  }else {%>
      <input type="text" name="brother" placeholder="name" class="form-control" required>
      <%  }%>
    </div>

    <div class="form-group mt-3">
      <h5> พี่น้องที่กำลังศึกษาอยู่ (คน) </h5>
      <% if (data) {%>
      <input type="text" name="studybro" placeholder="name" value="<%= data.studybro %>" class="form-control" required>

      <%  }else {%>
      <input type="text" name="studybro" placeholder="name" class="form-control" required>
      <%  }%>
    </div>
    <div class="form-group mt-3">
      <h5> พี่น้องที่ทำงาน (คน) </h5>
      <% if (data) {%>
      <input type="text" name="careerbro" placeholder="name" value="<%= data.careerbro %>" class="form-control" required>

      <%  }else {%>
      <input type="text" name="careerbro" placeholder="name" class="form-control" required>
      <%  }%>
    </div>

    <a href="#">ผู้อุปการะ</a>
    <% if (data) {%>
    <select class='form-control' name='support_id'>
      <% if(data5){ %>
      <% for(var i = 0 ; i < data5.length ; i++){%>
      <option value="<%= data5[i].id %>" <% if(data5[i].id == data.support_id){ %> selected <% }%>>
        <%= data5[i].name %>
      </option>
      <% }%>
      <% } %>
    </select>

    <%}else {%>
    <select class="form-control" name="support_id" required>
      <option value=""> เลือก </option>
      <% if(data5) { %>
      <% for(var i=0; i<data5.length; i++){ %>
      <option value="<%= data5[i].id %>">
        <%= data5[i].name %>
      </option>
      <%}%>
                  <%}%>
    </select>
    <%}%>







            <br><br>

            <a href="/student" class="btn btn-primary"> กลับ </a>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



            <button type="submit" class="btn btn-success">ยืนยัน</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../_footer") %>
