<%-include('../_student_header')%>

  <div class="container-fluid">
    <div class="col-md-10" style="margin: auto;">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <img src="/logo.png" width="150" style="margin-left: 43%;">
              <br><br>
              <h1 align="center">ใบสมัครเข้าอยู่หอพักของมหาวิทยาลัยราชภัฏเชียงราย</h1>
              <hr><br><br>
                <div style="margin-left: 43%;">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-8">
                        <div class="dropzone" id="divUp">
                         <img src="/pigture/<%=student[0].photo%>"  class="upload-icon" width="100" ><br>
                        </div>
                        <br>
                        <span style="margin-left: 15%;">รูปถ่าย</span>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-borderless">
                  <tr>
                    <td style="width: 16%;">
                      1.ชื่อ :
                    </td>
                    <td>
                     <%= student[0].firstname%>
                    </td>
                    <td>
                      สกุล :
                    </td>
                    <td colspan="2">
                     <%= student[0].lastname%>
                    </td>
                    <td>
                      ชื่อเล่น :
                    </td>
                    <td colspan="2">
                      <%= student[0].nickname%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      รหัสประจำตัวประชาชน :
                    </td>
                    <td colspan="2">
                      <div class="row">
                       <%= student[0].numberid%>
                      </div>
                    </td>
                    <td style="width: 5%;">
                      ชนเผ่า
                    </td>
                    <td style="width: 15%;">
                     <%= student[0].tribe_id %>
                    </td>
                    <td>
                      คณะ/สำนัก :
                    </td>
                    <td>
                     <%= student[0].faculty_id%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      สาขา :
                    </td>
                    <td>
                     <%= student[0].branch_id%>
                    </td>
                    <td style="width: 10%;">
                      รหัสนักศึกษา :
                    </td>
                   <%= student[0].studentid%>
                    <td>
                      ชั้นปีที่ :
                    </td>
                    <td colspan="2">
                     <%= student[0].chan%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      วัน/เดือน/ปีเกิด :
                    </td>
                    <td>
                     <%= student[0].birthday%>
                    </td>
                    <td>
                      กรุ๊ปเลือก :
                    </td>
                    <td>
                     <%= student[0].bloodtype%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2.ภูมิลำเนา :
                    </td>
                    <td>
                     <%= student[0].address%>
                    </td>
                    <td>
                      จังหวัด :
                    </td>
                    <td colspan="2">
                     <%= student[0].province%>
                    </td>
                    <td>
                      อำเภอ :
                    </td>
                    <td>
                     <%= student[0].amphures%>
                    </td>
                  <tr>
                    <td>
                      ตำบล :
                    </td>
                    <td>
                      <%= student[0].districts%>
                    </td>
                    <td style="width: 10%;">
                      รหัสไปรษณีย์ :
                    </td>
                    <td colspan="2">
                    <%= student[0].pos%>
                    </td>
                    <td>
                      โทรศัพท์:
                    </td>
                    <td>
                      <%= student[0].phone%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      บิดาชื่อ :
                    </td>
                    <td>
                     <%= student[0].namefather%>
                    </td>
                    <td>
                      อายุ :
                    </td>
                    <td>
                     <%= student[0].agefather%>
                    </td>
                    <td>
                      อาชีพ :
                    </td>
                    <td>
                     <%= student[0].jobfather%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      มารดาชื่อ :
                    </td>
                    <td>
                     <%= student[0].namemother%>
                    </td>
                    <td>
                      อายุ :
                    </td>
                    <td>
                    <%= student[0].agemother%>
                    </td>
                    <td>
                      อาชีพ :
                    </td>
                    <td>
                     <%= student[0].jobmother%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4. สถานภาพสมรสของบิดา-มารดา
                    </td>
                    <td>
                      <%= student[0].statusparent%>
                      <% if(student[0].statusother != null ) { %>
                        :<%= student[0].statusother%>
                     <% } %>
                    </td>
                  <tr>
                    <td>
                      มีพี่น้องทั้งสิ้น จำนวน
                    </td>
                    <td>
                      <%= student[0].brothernumber%>
                    </td>
                    <td style="width: 10%;">
                      เรียนหนังสือ จำนวน
                    </td>
                    <td colspan="2">
                     <%= student[0].studynumber%>
                    </td>
                    <td>
                      ประกอบอาชีพ จำนวน
                    </td>
                    <td>
                        <%= student[0].jobnumber%>
                    </td>
                  <tr>
                    <td>
                      5.ผู้อุปการะในการส่งเรียนหนังสือ
                    </td>
                    <td>
                     <%= student[0].uprakara%>
                     <% if(student[0].uprakaraother != null ) { %>
                       :<%= student[0].uprakaraother%>
                    <% } %>
                    </td>
                  </tr>
                  </tr>
                  </tr>
                  <tr>
                    <td>
                      6.กรณีเกิดเหตุฉุกเฉิน ผู้ที่สามารถติดต่อได้
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ที่อยู่ :
                    </td>
                    <td>
                     <%= student[0].address1%>
                    </td>
                    <td>
                      จังหวัด
                    </td>
                    <td colspan="2">
                      <%= student[0].province1%>
                    </td>
                    <td>
                      อำเภอ
                    </td>
                    <td colspan="2">
                     <%= student[0].amphures1%>
                    </td>
                  <tr>
                    <td>
                      ตำบล
                    </td>
                    <td>
                     <%= student[0].districts1%>
                    </td>
                    <td>
                      รหัสไปรษณีย์
                    </td>
                    <td colspan="2">
                    <%= student[0].pos1%>
                    </td>
                  </tr>
                  </tr>
                  <tr>
                    <td>
                      7.ความสามารถพิเศษ
                    </td>
                    <td>
                     <%= student[0].talent%>
                    </td>
                    <td>
                      ทุนการศึกษา
                    </td>
                    <td colspan="2">
                      <%= student[0].bursary_id %>
                    </td>
                    <td>Facebook</td>
                    <td><%= student[0].facebook%></td>
                  </tr>
                </table>
                <hr>
               <a href="/tanantroom" class="btn btn-dark">กลับ</a>
               <a href="/student/studentlist/" class="btn btn-dark">กลับ</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/index.js" charset="utf-8"></script>

  <%-include('../_footer')%>