<%- include ("../_header") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" style="margin: auto;">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <img src="/logo.png" width="120" style="margin-left: 43%;">
                <br><br>
                <h2 align="center">การทำสัญญา</h2>
                <br>
                <h2 align="center">มหาวิทยาลัยราชภัฏเชียงราย</h2>
                <hr><br><br>
                <form action="/tanantroom/savepromise/<%= stid %>" method="POST" enctype="multipart/form-data">
                 <table class="table table-bordered">
                   <tr>
                     <th>ข้อมูลสัญญา</th>
                     <th>จัดการ</th>
                   </tr>
                   <tr>
                     <td>
                     
                       <input class="form-control" type="file" name="filename"  id="clip"  accept="application/*" >
                         <label for="clip" id="forClip"></label> 
                      
                         <div id="addIClass">
                          <i id="imga1"></i>
                          <a class="text-danger" href="#/" id="fileDelete"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                     <td>
                      <button type="submit" class="btn btn-success">บันทึก</button>
                      <a href="#"  class="btn btn-primary">พิมพ์สัญญา</a>
                     </td>
                   </tr>
                 </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
<script>

  if ($('#clip').attr('type') == 'file') {
    $('#imga1').hide();
    $('#fileDelete').hide();
  }
  
  $(document).on("input", "input:file", function(e) {
      var fileName = e.target.files[0].name;
     var name = fileName.split('.');
     var type = name[name.length-1];
     var nameicon;
     if (type == "pdf") {
       nameicon = "fa fa-file-pdf";
     }else if (type == "docx") {
       nameicon = "fa fa-file-word";
     }else if (type == "xlsx") {
       nameicon = "fa fa-file-excel";
     }else if (type == "zip") {
       nameicon = "fa fa-file-archive";
     }else if (type == "jpg" || type == "png") {
       nameicon = "fa fa-file-image";
     }else {
       nameicon = "fa fa-file";
     }
      $('#imga1').attr('class',nameicon);
      $("#imga1").text(" "+fileName);
      $('#fileDelete').show();
      $('#forClip').attr('hidden', true);
  });
  
   $('#clip').change(function() {
     if($('clip').val()){
      $('#imga1').hide();
     }else{
      $('#imga1').show();
     }
   })
  
  $('#fileDelete').on('click',function(){
    $('input#clip').attr('type','file');
    $('input#clip').val('');
    $('#addIClass i:eq(0)').attr('class','');
    $('#addIClass i:eq(0)').text('');
    $('#fileDelete').hide();
    $('#forClip').attr('hidden', false);
  });
</script>

<%- include ("../_footer") %>
