
  <%- include('../_header') %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-12">
        <h1 align = 'center'><b> ข้อมูลรอการย้ายเข้า </b></h1>
          <br><br>
          <table class = "table table-bordered table-hover">
            <thead>
              <tr class="table-active">
                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>สาขา</th>
                <th>อาคาร</th>
                <th>เลขที่ห้อง</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <% if(jong){ %>
              <% for(var i=0; i < jong.length; i++) { %>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= jong[i].studentid %> </td>
                <td><%= jong[i].firstname + "   " +  jong[i].lastname %> </td>
                <td><%= jong[i].branch %> </td>
                <td><%= jong[i].building %> </td>
                <td><%= jong[i].roomnumber %> </td>
  
                <td>
                  <a href="/tanantroom/updatecomin/<%= jong[i].tnid %>/<%= jong[i].buid%> " class="btn btn-success"> ย้ายเข้า </a>
                  <a href="/tanantroom/promise/<%=jong[i].stid %>" class="btn btn-primary"> สัญญา </a>
                  <a href="/tanantroom/report/<%=jong[i].stid%>" class="btn btn-warning"> รายละเอียดข้อมูล </a>
                  <a href="/tanantroom/delete/<%= jong[i].tnid%>/<%=jong[i].stid%>" class="btn btn-danger"> ยกเลิกการย้ายเข้า </a>
                </td>
              </tr>
               <% } %>
                <% } %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <%- include('../_footer') %>
  