<%- include ("../_header") %>

<div class="container mt-5">
  <div class="col-md-12">
    <h1 align="center"><b>เพิ่มข้อมูลห้องพัก</b></h1>
    <hr>
    <div class="text-right mb-3">
      <a href="/room/list/<%=url.buid%>" class="btn btn-dark"> กลับ </a>
    </div>
    <form action="/room/save/<%=url.buid%>" method="POST">
      <table class="table table-hover table-responsive-md">
        <thead class="table-active">
          <tr>
            <th>ลำดับ</th>
            <th>ชื่ออาคาร</th>
            <th>เลขห้อง</th>
            <th>จำนวนที่พักได้</th>
            <th>ค่าไฟต่อหน่วย</th>
            <th>ค่าบำรุงรักษามิเตอร์ไฟ</th>
            <th>ค่าน้ำต่อหน่วย</th>
            <th>ค่าบำรุงรักษามิเตอร์น้ำ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center">1</td>
            <td>
              <input type="hidden" name="building_id" value="<%= data1[0].id %>">
              <input type="text" class="form-control" value="<%= data1[0].name %>" disabled>
            </td>
            <td><input type="text" name="number" class="form-control" value=""></td>
            <td><input type="text" name="peoplenumber" class="form-control text-right" value=""></td>
            <td><input type="text" name="eleccost" class="form-control text-right" value=""></td>
            <td><input type="text" name="elecmeter" class="form-control text-right" value=""></td>
            <td><input type="text" name="watercost" class="form-control text-right" value=""></td>
            <td><input type="text" name="watermeter" class="form-control text-right" value=""></td>
            <td>
              <a href="#/" class="text-danger"><i class="fa fa-trash"></i></a>
              <a href="#/" class="text-success"><i class="fa fa-plus"></i></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>ลำดับ</th>
            <th>ชื่ออาคาร</th>
            <th>เลขห้อง</th>
            <th>จำนวนที่พักได้</th>
            <th>ค่าไฟต่อหน่วย</th>
            <th>ค่าบำรุงรักษามิเตอร์ไฟ</th>
            <th>ค่าน้ำต่อหน่วย</th>
            <th>ค่าบำรุงรักษามิเตอร์น้ำ</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
      <button type="submit"class="btn btn-success">ยืนยัน</button>
    </form>
  </div>
</div>

<%- include ("../_footer") %>
