
<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-12">
      <h1 align = 'center'><b> ห้องพัก <%=building[0].name%></b></h1>
      <hr>
      <div class='text-right mb-3'>
        <a href="/building" class="btn btn-dark">กลับ</a>
        <a href="/room/add/<%=url.buid%>" class="btn btn-success">เพิ่ม</a>
      </div>

      <table class = "table table-bordered table-hover">
        <thead>
          <tr class="table-active">
            <th>ลำดับ</th>
            <th>เลขห้องพัก</th>
            <th>จำนวนผู้เข้าพัก</th>
            <th>ค่าไฟต่อหน่วย</th>
            <th>ค่าน้ำต่อหน่วย</th>
            <th>ค่าบำรุงรักษามิเตอร์ไฟ</th>
            <th>ค่าบำรุงรักษามิเตอร์น้ำ</th>
            <th>กำหนด</th>
          </tr>
        </thead>
        <tbody>
          <% if(room){ %>
            <% for(var i=0; i < room.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= room[i].number %> </td>
                <td><%= room[i].peoplenumber %> </td>
                <td><%= room[i].eleccost %> </td>
                <td><%= room[i].watercost %> </td>
                <td><%= room[i].elecmeter %> </td>
                <td><%= room[i].watermeter %> </td>
                <td>
                  <a href="/room/edit/<%=url.buid%>/<%= room[i].id %>" class="btn btn-info"> แก้ไข </a>
                  <a href="/room/del/<%=url.buid%>/<%= room[i].id %>" class="btn btn-danger"> ลบ </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../_footer') %>
