<%- include ("../_header") %>

<div class="container mt-5">
  <h1 align="center"><b>แก้ไขข้อมูลห้องพัก</b></h1>
  <hr>
  <div class="text-right mb-3">
    <a href="/room/list/<%=url.buid%>" class="btn btn-dark"> กลับ </a>
  </div>
  <form action="/room/update/<%=url.buid%>/<%=room[0].id%>" method="POST">
    <table class="table table-hover table-responsive-md">
      <thead class="table-active">
        <tr>
          <th>ชื่ออาคาร</th>
          <th>เลขห้อง</th>
          <th>จำนวนที่พักได้</th>
          <th>ค่าไฟต่อหน่วย</th>
          <th>ค่าบำรุงรักษามิเตอร์ไฟ</th>
          <th>ค่าน้ำต่อหน่วย</th>
          <th>ค่าบำรุงรักษามิเตอร์น้ำ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="hidden" name="building_id" value="<%= building[0].id %>">
            <input type="text" class="form-control" value="<%= building[0].name %>" disabled>
          </td>
          <td><input type="text" name="number" class="form-control" value="<%= room[0].number%>"></td>
          <td><input type="text" name="peoplenumber" class="form-control text-right" value="<%= room[0].peoplenumber%>"></td>
          <td><input type="text" name="eleccost" class="form-control text-right" value="<%= room[0].eleccost%>"></td>
          <td><input type="text" name="elecmeter" class="form-control text-right" value="<%= room[0].watercost%>"></td>
          <td><input type="text" name="watercost" class="form-control text-right" value="<%= room[0].elecmeter%>"></td>
          <td><input type="text" name="watermeter" class="form-control text-right" value="<%= room[0].watermeter%>"></td>
        </tr>
      </tbody>
    </table>
    <button type="submit"class="btn btn-success">ยืนยัน</button>
  </form>
</div>

<%- include ("../_footer") %>
