<%- include ("../_header") %>

<div class="container mt-5">
  <h1 class="text-center"><b>ลบข้อมูลห้องพัก</b></h1>
  <hr>
  <div class="text-right mb-3">
    <a href="/room/list/<%=url.buid%>" class="btn btn-dark"> กลับ </a>
  </div>
  <table class="table table-hover table-responsive-md">
    <thead class="table-active">
      <tr>
        <th>ชื่ออาคาร</th>
        <th>เลขห้อง</th>
        <th>จำนวนที่พักได้</th>
        <th>ค่าไฟต่อหน่วย</th>
        <th>ค่าบำรุงรักษามิเตอร์ไฟ</th>
        <th>ค่าน้ำต่อหน่วย</th>
        <th>ค่าบำรุงรักษามิเตอร์น้ำ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" class="form-control" value="<%= building[0].name %>" disabled>
        </td>
        <td><input type="text" class="form-control" value="<%= room[0].number%>" disabled></td>
        <td><input type="text" class="form-control text-right" value="<%= room[0].peoplenumber%>" disabled></td>
        <td><input type="text" class="form-control text-right" value="<%= room[0].eleccost%>" disabled></td>
        <td><input type="text" class="form-control text-right" value="<%= room[0].watercost%>" disabled></td>
        <td><input type="text" class="form-control text-right" value="<%= room[0].elecmeter%>" disabled></td>
        <td><input type="text" class="form-control text-right" value="<%= room[0].watermeter%>" disabled></td>
      </tr>
    </tbody>
  </table>
  <a href="/room/delete/<%=url.buid%>/<%= room[0].id%>" class="btn btn-danger"> ยืนยัน </a>
</div>

<%- include ("../_footer") %>
