<%- include ("../_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">


          <font color=#000000 style="font-size:40px">รายละเอียดข้อมูลนักศึกษา</font>

          <table class="mt-3">
            <tbody>
              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อตึก </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.buname%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> เลขห้องพัก </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.number%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> วันที่ย้ายเข้า </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.datein%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อ-สกุลนักศึกษา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.fname + " "+ data.lname%> </font>
                  </h5>
                </td>
              </tr>



              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อเล่น </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.nname%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> รหัสบัตรประจำตัวประชาชน </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.snum%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> คณะวิชา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.facname%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> โปรแกรมวิชา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.brname%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชั้นปี </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.nclass%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> รหัสนักศึกษา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.stid%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> อายุ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.age%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> วัน/เดือน/ปีเกิด </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.birthday%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> กรุ๊ปเลือด </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.bloodtype%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ความสามารถพิเศษ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.talent%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ทุนการศึกษา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.burname%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชนเผ่า </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.trname%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> เบอร์ติดต่อ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.phone%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> บ้านเลขที่ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.numberhome%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> หมู่ที่ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.moo%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ตำบล </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.tombon%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> อำเภอ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.aumper%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> จังหวัด </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.province%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> รหัสไปรษณีย์ </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.postalcode%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อ-สกุลบิดา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.nfather + " " + data.lfather%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> ชื่อ-สกุลมารดา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.nmother + " " + data.lmother%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> สถานภาพผู้ปกครอง </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.staname%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> อาชีพบิดา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.careerfather%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> อาชีพมารดา </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.careermother%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> มีพี่น้องทั้งหมด (คน) </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.brother%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> พี่น้องที่ศึกษาอย (คน)่</font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.studybro%> </font>
                  </h5>
                </td>
              </tr>


              <tr>
                <td>
                  <h5>
                    <font color=#0000> พี่น้องที่ทำงาน (คน) </font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.careerbro%> </font>
                  </h5>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>
                    <font color=#0000> ผู้อุปการะ</font>
                  </h5>
                </td>
                <td>
                  <p>
                    <font size="5"> :&nbsp;</font>
                  </p>
                </td>
                <td>
                  <h5>
                    <font color=#0000> <%= data.supname%> </font>
                  </h5>
                </td>
              </tr>





            </tbody>
          </table>
          <br>
          <a href="/bursarymode" class="btn btn-primary"> กลับ </a>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        </div>
      </div>
    </div>
  </div>
  <%- include ("../_footer") %>
