<%- include ("../_header") %>

<div class="container mt-6">
  <div class="row mt-5">

    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <h3 align="center">
            <p align="center">แยกประเภททุนการศึกษา</p>
          </h3>
          <br><br>

          <h4>
            <p align='left'>ทุนอุดหนุนปัจจัยพื้นฐาน</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ชั้นปี</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data1){ %>
              <% for(var i=0; i < data1.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data1[i].stuid %></td>
                <td><%= data1[i].fname %> <%= data1[i].lname %> </td>
                <td><%= data1[i].facname %></td>
                <td><%= data1[i].bname %></td>
                <td><%= data1[i].nclass %></td>
                <td>
                  <a href="/bursarymode/report/<%= data1[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ทุน (กยศ) </p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ชั้นปี</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data2){ %>
              <% for(var i=0; i < data2.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data2[i].stuid %></td>
                <td><%= data2[i].fname %> (<%= data2[i].lname %>) </td>
                <td><%= data2[i].facname %></td>
                <td><%= data2[i].bname %></td>
                <td><%= data2[i].nclass %></td>
                <td>
                  <a href="/bursarymode/report/<%= data2[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ทุน (กรอ) </p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ชั้นปี</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data3){ %>
              <% for(var i=0; i < data3.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data3[i].stuid %></td>
                <td><%= data3[i].fname %> (<%= data3[i].lname %>) </td>
                <td><%= data3[i].facname %></td>
                <td><%= data3[i].bname %></td>
                <td><%= data3[i].nclass %></td>
                <td>
                  <a href="/bursarymode/report/<%= data3[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>

          <h4>
            <p align='left'>ไม่มีทุนการศึกษา</p>
          </h4>

          <table class="table table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ-สกุลนักศึกษา</th>
                <th>คณะวิชา</th>
                <th>โปรแกรมวิชา</th>
                <th>ชั้นปี</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>

            <tbody>
              <% if(data4){ %>
              <% for(var i=0; i < data4.length; i++) {%>
              <tr>
                <td><%= (i+1) %> </td>
                <td><%= data4[i].stuid %></td>
                <td><%= data4[i].fname %> (<%= data4[i].lname %>) </td>
                <td><%= data4[i].facname %></td>
                <td><%= data4[i].bname %></td>
                <td><%= data4[i].nclass %></td>
                <td>
                  <a href="/bursarymode/report/<%= data4[i].sid %>" class="btn btn-warning btn-lg"> รายละเอียด </a>

                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>


        </div>
      </div>

    </div>



  </div>
  <%- include ("../_footer") %>
