<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align='center'><b> กรอกมิเตอร์ค่าไฟฟ้า </b></h1>
      <h1 align='center'><b> ประจำเดือน
        <%  if (data1) {%>
          <%  if ( data1.d1 >= 25 ) { %>
            <% if (month) {%>
              <% for (var i = 0; i < month.length; i++) {%>
              <%   if (month[i].id == data1.m2 ) {%>
                    <%=month[i].name%>
                    <% var m = data1.m2%>

              <%   }%>
            <%   }%>
          <%   }%>
             ปี <%= (data1.y2)%>
             <% var y = data1.y2%>

          <%} else if (data1.d1  <= 5) {%>

            <% if (month) {%>
              <% for (var i = 0; i < month.length; i++) {%>
              <%   if (month[i].id == data1.m1 ) {%>
                    <%=month[i].name%>
                    <% var m = data1.m1%>
              <%   }%>
            <%   }%>
          <%   }%>
             ปี <%= (data1.y1) %>
             <% var y = data1.y1%>

          <%}else { %>

            <% if (month) {%>
              <% for (var i = 0; i < month.length; i++) {%>
              <%   if (month[i].id == data1.m1 ) {%>
                    <%=month[i].name%>
                    <% var m = data1.m1%>
              <%   }%>
            <%   }%>
          <%   }%> ปี <%= (data1.y1)%>
          <% var y = data1.y1%>


          <%  } %>
          <%  } %>
           </b></h1>
          <br><br>

          <p align='right'><a href="/elec" class="btn btn-info">กลับ</a></p>

          <form action="/elec/save" method="POST">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="table-active">


                <th>ลำดับ</th>
                <th>ชื่อตึก</th>
                <th>เลขห้องพัก</th>
                <th>หน่วยมิเตอร์น้ำล่าสุด</th>
              </tr>
            </thead>
            <% if(data){ %>
            <% for(var i=0; i < data.length; i++) {%>
            <tr>
              <% if(i < 6){ %>
              <td><%= (i+1) %> </td>
              <td><%= data[i].buname %> </td>
              <td><%= data[i].rmnumber%> </td>
              <!-- <td><%= data[i].neww %> </td> -->
              <td><input type="text" name="newwater" value="" placeholder="ค่าน้ำใหม่">
                <input type="hidden" name="room_id" value="<%= data[i].rmid%>" placeholder="เลขห้อง">
                <input type="hidden" name="day" value="<%= y %>-<%= m %>" placeholder="วันที่">
                <input type="hidden" name="oldwater" value="" placeholder="ค่าน้ำเก่า">

              </td>

              <% } %>

            </tr>
            <% } %>
            <% } %>

            <tbody>

            </tbody>

          </table>
          <button type="submit" class="btn btn-success">ยืนยัน</button>
        </form>
    </div>

  </div>
</div>
<%- include('../_footer') %>
