<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-0"></div>
    <div class="col-md-12">
      <h1 align='center'><b> ยอดชำระค่าไฟฟ้า </b></h1>
      <br><br>
      <td ailgn="left">
        <a href="/elec/jsreport/" class="btn btn-primary">
          <font size="4"> Report </font>
        </a>
      </td>

      <p align='right'><a href="unidome" class="btn btn-success">จัดการ</a></p>

      <table class="table table-bordered table-hover">
        <thead  align="center">
          <tr class="table-active"  align="center">


            <th>ลำดับ</th>
            <th>ชื่อตึก</th>
            <th>เลขห้อง</th>
            <th align="center">ค่าไฟฟ้า <br> ก่อน/หลัง</th>
            <th align="center">ค่าไฟฟ้า <br> (หน่วย)</th>
            <th align="center">ค่าบำรุงรักษา <br> มิเตอร์ไฟ</th>
            <th>รวมค่าน้ำ</th>
            <th>รวมจ่าย</th>
            <th>เช็คจ่าย</th>
          </tr>
        </thead>

        <tbody>

          <% if(data){ %>
          <% for(var i=0; i < data.length; i++) {%>
          <tr>
            <td><%=i+1%></td>
              <td><%= data[i].buname %> </td>
            <td><%= data[i].rmnumber %> </td>
            <td><%= data[i].oldw + "  /  " + data[i].neww %>  </td>
            <td><%= data[i].neww - data[i].oldw %>  </td>
            <td><%= data[i].watermeter %>  </td>
            <td><%= (data[i].neww - data[i].oldw) * data[i].watercost%>  </td>
            <td><%= (data[i].newe - data[i].olde) * data[i].eleccost + data[i].elecmeter + (data[i].neww - data[i].oldw) * data[i].watercost + data[i].watermeter%>  </td>

            <td>
              <% if(data[i].pay){ %>
              <%= data[i].payd%>-<%=data[i].paym%>-<%=data[i].payy %> &nbsp; &nbsp; <a href="/water/cpay/<%= data[i].ewid %>" class="btn btn-danger"> ยกเลิก </a>
              <% } else {%>
              <a href="/water/pay/<%= data[i].ewid %>" class="btn btn-warning"> จ่าย </a>

              <% } %>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>
<%- include('../_footer') %>
