<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-12">
      <h1 align = 'center'><b> ข้อมูลวันที่เข้าซ่อม </b></h1>
        <br><br>
        <table class = "table table-bordered table-hover">
          <thead>
            <tr class="table-active">
              <th>ลำดับ</th>
              <th>รหัสนักศึกษา</th>
              <th>ชื่อ-สกุลนักศึกษา</th>
              <th>สาขา</th>
              <th>อาคาร</th>
              <th>เลขที่ห้อง</th>
              <th>จัดการ</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
             

              <td>
                <a href="" class="btn btn-success"> ย้ายเข้า </a>
                <a href="" class="btn btn-danger"> ยกเลิกกาย้ายเข้า </a>
              </td>
            </tr>
          
          </tbody>
        </table>
    </div>
  </div>
</div>
<%- include('../_footer') %>
