<%- include ("../_header") %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10" style="margin: auto;">
          <div class="card mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <img src="/logo.png" width="150" style="margin-left: 43%;">
                  <br><br>
                  <h2 align="center">แบบฟอร์มแจ้งงานซ่อม</h2>
                  <br>
                  <h2 align="center">สำนักงานบริการที่พักอาศัย กองพัฒนานักศึกษา</h2>
                  <hr><br><br>
                  <form action="/repair/save" method="POST">
                    <div class="mb-2">
                        <button type="button" class="btn btn-primary" onclick="mytable()">เพิ่มข้อความ</button>
                    </div>
                    <table class="table table-bordered"  id="mytable">
                        <thead align="center">
                          <tr>
                            <th>ลำดับ</th>
                            <th>หอพัก</th>
                            <th>ห้องพัก</th>
                            <th>รายการที่ชำรุด</th>
                            <th>โทรศัพท์</th>
                            <th>จำนวน(ตัว)</th>
                            <th>จัดการ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="mytr0">
                            <td style="width: 5%;">
                               1
                            </td>
                            <td style="width: 10%;">
                              <input type="text" name="building_id" list="databuild" class="form-control" id="getBuilding" >
                              <datalist id="databuild">
                                <% if(building) { %>
                                  <% for(var i=0; i<building.length; i++){ %>
                                    <option data-id="<%= building[i].id %>" value="<%= building[i].name %>">
                                    </option>
                                  <%}%>
                                <%}%>
                              </datalist>
                            </td>
                            <td style="width: 10%;">
                              <input type="text" name="room_id" list="dataroom"  id="getRoom" class="form-control" >
                              <datalist id="dataroom">
                                  
                              </datalist>
                            </td>
                            <td>
                                <input type="text"  name="repair_list" class="form-control" >
                            </td>
                            <td style="width: 10%;">
                                <input type="text" name="phone"  class="form-control" >
                            </td>
                            <td style="width: 10%;"> 
                                <input type="text" name="number" class="form-control text-right"  >
                            </td>
                            <td>
                              <button type="button" class="btn btn-danger" onclick="deleterow('mytr0')">ลบ</button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">ตกลง</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript">

    function mytable() {
        var table = document.getElementById("mytable");
        var row = table.insertRow(2);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        cell1.innerHTML = "";
        cell2.innerHTML =  "<input type='text' name='building_id'  list='databuild'  class='form-control'>";
        cell3.innerHTML =  "<input type='text' name='room_id'  list='dataroom'  class='form-control'>";
        cell4.innerHTML = "<input type='text' name='repair_list'class='form-control'>";
        cell5.innerHTML = "<input type='text' name='phone'class='form-control'>";
        cell6.innerHTML = "<input type='text' name='number'class='form-control text-right'>";
        cell7.innerHTML = " <button type='button' class='btn btn-danger' >ลบ</button>";
        $('#mytable tbody tr').each(function( index ) {
          $('#mytable tbody tr:eq('+ index + ') td:eq(0)').text(index + 1 )
          $('#mytable tbody tr:eq('+ index +')').attr('id','mytr' + index);
          $('#mytable tbody tr:eq('+ index + ') td:eq(6) button').attr('onclick','deleterow("mytr'+index + '")');
        })
      }
     
      function deleterow(del) {
        table = document.getElementById("mytable");
        row = table.getElementsByTagName('tr');
        if (row.length > 2) {
          $('#mytable tbody #' + del).remove();
        }
        $('#mytable tbody tr').each(function( index ) {
          $('#mytable tbody tr:eq('+ index + ') td:eq(0)').text(index + 1 )
          $('#mytable tbody tr:eq('+ index +')').attr('id','mytr' + index);
          $('#mytable tbody tr:eq('+ index + ') td:eq(6) button').attr('onclick','deleterow("mytr'+index + '")');
        })
      }


  $(document).ready(function(){
    // ajax for contact zip_code
  
    // GET REQUEST
    $("#getBuilding").change(function(event){
      $('#getRoom').val('');
      event.preventDefault();
      buildingGet();
    });
  
    // DO GET
    function buildingGet(){
      var val = $('#getBuilding').val()
      var buid = $('#databuild option').filter(function() {
        return this.value == val;
      }).data('id');
      $.ajax({
        type : "GET",
        url : "/api/room/pull/"+buid,
        success: function(result){
          $('#dataroom').empty();
          var roomList = "";
          $('#dataroom').append('<option>เลือกห้อง</option>');
          $.each(result, function(i,  room){
            $('#dataroom').append('<option data-id="'+room.id+'" value="'+room.number+'"></option>');
          });
          // console.log("Success: ", result);
        },
        error : function(e) {
          $('#dataroom').empty();
          $('#dataroom').append('<option>เลือกห้อง</option>');
          $("#dataroom").append('<option>เกิดข้อผิดพลาด</option>');
          // console.log("ERROR: ", e);
        }
      });
    }
  })
  
  </script>

<%- include ("../_footer") %>