<%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-12">
      <h1 align = 'center'><b> ห้องพัก (<%=building[0].name%>) </b></h1>
      <hr>
      <div class='text-right mb-3'>
        <a href="/building" class="btn btn-dark">กลับ</a>
      </div>
      <table class = "table table-bordered table-hover">
        <thead>
          <tr class="table-active" align="center">
            <th>ลำดับ</th>
            <th>เลขห้องพัก</th>
            <th>จำนวนผู้เข้าพัก</th>
            <th>ราคา</th>
            <th>สถานะการชำระ</th>
            <th>กำหนด</th>
          </tr>
        </thead>
        <tbody>
          <% if(room){ %>
            <% for(var i=0; i < room.length; i++) { %>
              <tr align="center">
                <td><%= (i+1) %> </td>
                <td><%= room[i].number %> </td>
                <td></td>
                <td><%=room[i].price%></td>
                <% if (room[i].payid ==  null ) { %>
                  <td style="color: red;">มีการค้างชำระ</td>
                <% }else{ %>
                  <td style="color: green;" >ชำระแล้ว  </td>
                <% } %>
                <td>
                    <a href="/paydorm/student/<%=buid%>/<%=room[i].id%>/<%= billid%>" class="btn btn-primary"> ข้อมูลนักศึกษา </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../_footer') %>
