<%- include ("../_header") %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10" style="margin: auto;">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <img src="/logo.png" width="150" style="margin-left: 43%;">
                                <br><br>
                                <h2 align="center">บิล</h2>
                                <br>
                                <h2 align="center">สำนักงานบริการที่พักอาศัย กองพัฒนานักศึกษา</h2>
                                <hr><br><br>
                                <form action="/paydorm/save" method="POST">
                                    <div class="mb-2">
                                        <a href="" class="btn btn-success">เพิ่ม</a>
                                    </div>
                                    <table class="table table-bordered">

                                        <tr>
                                            <th>ลำดับ</th>
                                            <th>เทอม</th>
                                            <th>ปี</th>
                                            <th>จัดการ</th>
                                        </tr>
                                        <% if(bill){ %>
                                            <% for(var i=0; i<bill.length; i++){ %>
                                                <tr>
                                                    <td>
                                                        <%= i + 1 %>
                                                    </td>
                                                    <td>
                                                        <%=bill[i].term%>
                                                    </td>
                                                    <td>
                                                        <%=bill[i].year%>
                                                    </td>
                                                    <td>
                                                        <a href="/paydorm/build/<%=bill[i].id%>" class="btn btn-primary">ข้อมูล</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% } %>
                                    </table>
                                    <button type="submit" class="btn btn-success">ตกลง</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include ("../_footer") %>