<%- include ("../_header") %>
<div class="container mt-1">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1 align="center">
            <p align="center">ห้องพัก (<%=room[0].number%>)</p>
          </h1>
          <hr>
          <br><br>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="ค้นหาจากรายชื่อ" title="Type in a name" class="form-control input-sm ee1">
          <table class=" table table-bordered table-hover" id="myTable">
            <thead>
              <tr class="table-active">
                <th>ลำดับ</th>
                <th>ชื่อ-นามสกุล</th>
                <th>ราคา</th>
                <th>สถานะการชำระ</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <% if(student){ %>
                <% for(var i=0; i < student.length; i++) { %>
              <tr>
                  <td><%= i + 1%></td>
                  <td><%= student[i].firstname%> <%=student[i].lastname %></td>
                  <td><%= student[i].price / study[0].study %></td>
                  <% if (student[i].payid == null ) { %>
                  <td style="color: red;"> มีการค้างชำระ</td>
                  <% }else{ %>
                  <td style="color: green;">ชำระแล้ว</td>
                  <% } %>
                  <td>
                    <% if (student[i].payid == null){ %> 
                      <a href="/paydorm/add/<%=rmid%>/<%=student[i].id%>/<%=billid%>" class="btn btn-success"> ชำระ </a>
                    <% }else{ %>
                      <a href="#" class="btn btn-primary"> แก้ไข </a>
                    <% } %>
                  </td>
              </tr>
             <% } %>
             <% } %>
            </tbody>
          </table>
          <br><br>
          <br><br>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

<style>
  #myInput {
          display: inline-block;
          width: 15%;
          margin-left: 77%;
            width: 250px;
            height: 35px;
            border: 1px solid black;
          
        }
</style>
  <%- include ("../_footer") %>
