<%- include ("../_header") %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10" style="margin: auto;">
          <div class="card mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <img src="/logo.png" width="150" style="margin-left: 43%;">
                  <br><br>
                  <h2 align="center">ใบเสร็จรับเงิน</h2>
                  <br>
                  <h2 align="center">สำนักงานบริการที่พักอาศัย กองพัฒนานักศึกษา</h2>
                  <hr><br><br>
                  <form action="/paydorm/save/<%=rmid%>/<%=stid%>/<%=billid%>" method="POST">
                    <table class="table table-borderless">

                        <tr>
                            <td>วันที่</td>
                            <td><input type="date" name="date" class="form-control"></td>
                        </tr>
                        <% if(stid){ %>
                          <tr>
                            <td>ชื่อ-นามสกุล</td>
                            <td><input type="text"  value="<%=student[0].firstname%> <%=student[0].lastname%>" class="form-control" disabled></td>
                        </tr>
                        <% }else{ console.log(student) %>
                          
                          <tr>
                            <td>ห้อง</td>
                            <td><input type="text"  value="<%=student[0].number%> " class="form-control" disabled></td>
                        </tr>
                       <% } %>
                        <tr>
                            <td>เลขที่ใบเสร็จ</td>
                            <td><input type="text" name="number" class="form-control"></td>
                            <td>ยอดชำระ</td>
                            <td><input type="text" value="<%= student[0].price%>" name="payment" class="form-control text-right"></td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-success">ตกลง</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  


<%- include ("../_footer") %>