
  <%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h1 align = 'center'><b> ชั้นปีการศึกษา </b></h1>
        <br><br>



<table class = "table table-bordered table-hover">
  <thead>
<tr class="table-active">


    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชั้นปี</th>
</tr>
  </thead>

<tbody>
  <% if(data){ %>
    <% for(var i=0; i < data.length; i++) {%>
    <tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= data[i].nclass %> </td>

    </tr>
  <% } %>
    <% } %>
</tbody>
</table>
    </div>

    </div>
  </div>
<%- include('../_footer') %>
